### Preparing Data ###

In [1]:
import pandas as pd
from scipy.spatial import cKDTree
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
data = pd.read_csv('/content/drive/MyDrive/Хакатон/dataset2015_2019.csv')

In [7]:
data.head(2)

   Unnamed: 0  ...                  4 Nearest Neigbour Point
0           0  ...  Point (907563.65755459 6554039.35762193)
1           1  ...   Point (907032.95563938 6550121.6369531)

[2 rows x 25 columns]

In [6]:
!pip install catboost

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/96/3b/bb419654adcf7efff42ed8a3f84e50c8f236424b7ed1cc8ccd290852e003/catboost-0.24.4-cp37-none-manylinux1_x86_64.whl (65.7MB)
     |████████████████████████████████| 65.7MB 88kB/s
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-0.24.4

In [8]:
import catboost as cb
from catboost import Pool, CatBoostClassifier
from sklearn.model_selection import GridSearchCV

In [106]:
data.head(2)

   Unnamed: 0  ...                  4 Nearest Neigbour Point
0           0  ...  Point (907563.65755459 6554039.35762193)
1           1  ...   Point (907032.95563938 6550121.6369531)

[2 rows x 25 columns]

In [9]:
def predict_next_culture_4_years_list(l0, l1, l2, l3):
  if l0 == l1 != l2 and l2 == l3:
     return 'Unknown'
  if l0 == l1 == l2 == l3:
     return l0
  #if l0 == l3:
  #   return l1
  if l0 == l2 and l1 == l3:
     return l0
#  if l0 == l2 and l1 != l2:
#     return l0
  if l0 == l1 != l2 and l2 == l3:
     return l0
  return 'Unknown'

In [10]:
print(predict_next_culture_4_years_list(data.iloc[0]['CODE_CULTU_2015'],data.iloc[0]['CODE_CULTU_2016'],data.iloc[0]['CODE_CULTU_2017'],data.iloc[0]['CODE_CULTU_2018']))

PPH

In [11]:
g = data.groupby(['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018'])['CODE_CULTU_2019'].count()

In [12]:
gm = g.add_suffix('').reset_index()

In [14]:
gm_uniq = gm[gm['CODE_CULTU_2019'] == 1]

In [15]:
gm_uniq.head(2)

  CODE_CULTU_2015 CODE_CULTU_2016  ... CODE_CULTU_2018 CODE_CULTU_2019
0             ACA             FLA  ...             FLA               1
1             ACA             FLP  ...             FLP               1

[2 rows x 5 columns]

In [16]:
gm_pred = pd.merge(gm_uniq, data,  how='left', left_on=['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018'], right_on = ['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018'])

In [17]:
gm_pred = gm_pred.reindex(columns=['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018','CODE_CULTU_2019_y'])

In [18]:
data_pred = pd.merge(data, gm_pred,  how='left', left_on=['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018'], right_on = ['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018'])

In [64]:
data_pred['CODE_CULTU_2019_y'].value_counts()

BTH    11247
PTR     8134
LUZ     4978
MLG     4003
MIS     3902
       ...
PIS        1
BUR        1
PMV        1
LFP        1
MOL        1
Name: CODE_CULTU_2019_y, Length: 218, dtype: int64

In [65]:
data_part1 = data_pred[data_pred.CODE_CULTU_2019_y.notnull()].copy()

In [66]:
data_part1.head(2)

    Unnamed: 0  ... CODE_CULTU_2019_y
50          50  ...               BTH
74          74  ...               ORP

[2 rows x 26 columns]

In [67]:
data_part2 = data_pred[data_pred.CODE_CULTU_2019_y.isna()].copy()

In [68]:
data_part2.head(2)

   Unnamed: 0  ... CODE_CULTU_2019_y
0           0  ...               NaN
1           1  ...               NaN

[2 rows x 26 columns]

In [69]:
data_part2['CODE_CULTU_2019_y'] = data_part2.apply(lambda x: predict_next_culture_4_years_list(x['CODE_CULTU_2015'],x['CODE_CULTU_2016'],x['CODE_CULTU_2017'],x['CODE_CULTU_2018']), axis=1, result_type='expand')

In [70]:
data_part2['CODE_CULTU_2019_y'].value_counts()

Unknown    1453574
PPH        1067851
VRC         181807
J6S         100032
SNE          85849
            ...
CHR              2
LDP              2
SAD              2
PAN              2
LIP              2
Name: CODE_CULTU_2019_y, Length: 160, dtype: int64

In [71]:
data_part3 = data_part2[data_part2['CODE_CULTU_2019_y'] == 'Unknown']

In [ ]:
print(data_part1.shape)
print(data_part2.shape)
print(data_part3.shape)

(82551, 26)
(3532253, 26)
(1453574, 26)

##Full CatBoost v1###

In [32]:
X2 = data_part3[[
       'CODE_CULTU_2015', 'CODE_CULTU_2016', 'CODE_CULTU_2017',
       'CODE_CULTU_2018', 'CODE_GROUP_2015',
       'CODE_GROUP_2016', 'CODE_GROUP_2017', 'CODE_GROUP_2018']]


X2 = X2.replace(np.nan, 'unknown', regex=True)

Y2 = data_part3['CODE_CULTU_2019']

In [33]:

cat_features2 = [0, 1, 2, 3, 4, 5, 6, 7]

In [34]:
train_dataset2 = Pool(data=X2,
                     label=Y2,
                     cat_features=cat_features2)

eval_dataset2 = Pool(data=X2,
                    label=Y2,
                    cat_features=cat_features2)

# Initialize CatBoostClassifier
model2 = CatBoostClassifier(iterations=200,
                           #learning_rate=0.25,
                           depth=6,
                           loss_function='MultiClass',  task_type='GPU')

#model = CatBoostClassifier(loss_function='MultiClass',  task_type='GPU')

# Fit model
model2.fit(train_dataset2)  
# Get predicted classes
#preds_class2 = model2.predict(eval_dataset2)
# Get predicted probabilities for each class
#preds_proba2 = model2.predict_proba(eval_dataset2)
# Get predicted RawFormulaVal
#preds_raw2 = model2.predict(eval_dataset2, prediction_type='RawFormulaVal')

Learning rate set to 0.5
0:	learn: 14.3086448	total: 5.54s	remaining: 18m 22s
1:	learn: 1144.3181895	total: 11.1s	remaining: 18m 20s
2:	learn: 3486.0948036	total: 16.7s	remaining: 18m 14s
3:	learn: 3452.6444309	total: 22.2s	remaining: 18m 6s
4:	learn: 3960.3214477	total: 27.7s	remaining: 17m 59s
5:	learn: 3204.8004381	total: 33.2s	remaining: 17m 53s
6:	learn: 2691.2543015	total: 38.7s	remaining: 17m 47s
7:	learn: 2598.3091057	total: 44.2s	remaining: 17m 41s
8:	learn: 2478.0790631	total: 49.7s	remaining: 17m 35s
9:	learn: 2395.2828215	total: 55.3s	remaining: 17m 30s
10:	learn: 2342.2444705	total: 1m	remaining: 17m 24s
11:	learn: 2288.5541321	total: 1m 6s	remaining: 17m 18s
12:	learn: 2270.1778430	total: 1m 11s	remaining: 17m 13s
13:	learn: 2127.8837844	total: 1m 17s	remaining: 17m 7s
14:	learn: 2055.0579138	total: 1m 22s	remaining: 17m 2s
15:	learn: 2073.1800651	total: 1m 28s	remaining: 16m 56s
16:	learn: 2005.3057416	total: 1m 33s	remaining: 16m 51s
17:	learn: 1976.6813441	total: 1m 39s	remaining: 16m 45s
18:	learn: 1916.2719421	total: 1m 44s	remaining: 16m 40s
19:	learn: 1918.4919048	total: 1m 50s	remaining: 16m 34s
20:	learn: 1961.7905989	total: 1m 55s	remaining: 16m 28s
21:	learn: 2094.5573985	total: 2m 1s	remaining: 16m 23s
22:	learn: 2103.3900496	total: 2m 7s	remaining: 16m 17s
23:	learn: 2117.5416291	total: 2m 12s	remaining: 16m 12s
24:	learn: 2090.3129638	total: 2m 18s	remaining: 16m 6s
25:	learn: 1965.5061524	total: 2m 23s	remaining: 16m
26:	learn: 1960.6247002	total: 2m 29s	remaining: 15m 55s
27:	learn: 1957.9889239	total: 2m 34s	remaining: 15m 49s
28:	learn: 1887.4242275	total: 2m 40s	remaining: 15m 44s
29:	learn: 1840.9598190	total: 2m 45s	remaining: 15m 38s
30:	learn: 1849.7660525	total: 2m 51s	remaining: 15m 33s
31:	learn: 1830.0174549	total: 2m 56s	remaining: 15m 27s
32:	learn: 1807.1487575	total: 3m 2s	remaining: 15m 21s
33:	learn: 1860.2915462	total: 3m 7s	remaining: 15m 16s
34:	learn: 1902.4872156	total: 3m 13s	remaining: 15m 10s
35:	learn: 1872.3279530	total: 3m 18s	remaining: 15m 5s
36:	learn: 1872.1881156	total: 3m 24s	remaining: 14m 59s
37:	learn: 1825.8441717	total: 3m 29s	remaining: 14m 54s
38:	learn: 1960.2242087	total: 3m 35s	remaining: 14m 48s
39:	learn: 1838.7215401	total: 3m 40s	remaining: 14m 43s
40:	learn: 1841.5646070	total: 3m 46s	remaining: 14m 37s
41:	learn: 1762.9833885	total: 3m 51s	remaining: 14m 32s
42:	learn: 1752.1533874	total: 3m 57s	remaining: 14m 26s
43:	learn: 1986.1062787	total: 4m 2s	remaining: 14m 20s
44:	learn: 1885.1484355	total: 4m 8s	remaining: 14m 15s
45:	learn: 1885.6806630	total: 4m 13s	remaining: 14m 9s
46:	learn: 1793.8340889	total: 4m 19s	remaining: 14m 4s
47:	learn: 1807.7864794	total: 4m 24s	remaining: 13m 58s
48:	learn: 1799.2049720	total: 4m 30s	remaining: 13m 53s
49:	learn: 1802.3696296	total: 4m 35s	remaining: 13m 47s
50:	learn: 1742.2325055	total: 4m 41s	remaining: 13m 42s
51:	learn: 1766.9733333	total: 4m 46s	remaining: 13m 36s
52:	learn: 1727.5603224	total: 4m 52s	remaining: 13m 31s
53:	learn: 1766.0390293	total: 4m 57s	remaining: 13m 25s
54:	learn: 1743.8857217	total: 5m 3s	remaining: 13m 20s
55:	learn: 1680.0710855	total: 5m 9s	remaining: 13m 14s
56:	learn: 1717.2769904	total: 5m 14s	remaining: 13m 9s
57:	learn: 1737.5537647	total: 5m 20s	remaining: 13m 3s
58:	learn: 1695.7170230	total: 5m 25s	remaining: 12m 58s
59:	learn: 1669.3030778	total: 5m 31s	remaining: 12m 52s
60:	learn: 1748.6761211	total: 5m 36s	remaining: 12m 47s
61:	learn: 1715.0107088	total: 5m 42s	remaining: 12m 41s
62:	learn: 1740.1976425	total: 5m 47s	remaining: 12m 36s
63:	learn: 1846.4846289	total: 5m 53s	remaining: 12m 30s
64:	learn: 1727.8044214	total: 5m 58s	remaining: 12m 25s
65:	learn: 1692.3376780	total: 6m 4s	remaining: 12m 19s
66:	learn: 1683.1020698	total: 6m 9s	remaining: 12m 13s
67:	learn: 1667.0575781	total: 6m 15s	remaining: 12m 8s
68:	learn: 1735.4031924	total: 6m 20s	remaining: 12m 2s
69:	learn: 1876.3628078	total: 6m 26s	remaining: 11m 57s
70:	learn: 1781.2413266	total: 6m 31s	remaining: 11m 52s
71:	learn: 1732.4025003	total: 6m 37s	remaining: 11m 46s
72:	learn: 1745.5940626	total: 6m 42s	remaining: 11m 41s
73:	learn: 1808.4587204	total: 6m 48s	remaining: 11m 35s
74:	learn: 1806.0075153	total: 6m 54s	remaining: 11m 30s
75:	learn: 1730.7984210	total: 6m 59s	remaining: 11m 24s
76:	learn: 1719.9603185	total: 7m 5s	remaining: 11m 19s
77:	learn: 1669.6118120	total: 7m 10s	remaining: 11m 13s
78:	learn: 1668.7019883	total: 7m 16s	remaining: 11m 7s
79:	learn: 1659.9702526	total: 7m 21s	remaining: 11m 2s
80:	learn: 1658.7765274	total: 7m 27s	remaining: 10m 56s
81:	learn: 1644.1244216	total: 7m 32s	remaining: 10m 51s
82:	learn: 1678.6369597	total: 7m 38s	remaining: 10m 45s
83:	learn: 1667.5056213	total: 7m 43s	remaining: 10m 40s
84:	learn: 1649.5830113	total: 7m 49s	remaining: 10m 34s
85:	learn: 1664.3046835	total: 7m 54s	remaining: 10m 29s
86:	learn: 1880.9436272	total: 8m	remaining: 10m 23s
87:	learn: 1700.9970294	total: 8m 5s	remaining: 10m 18s
88:	learn: 1664.6577993	total: 8m 11s	remaining: 10m 12s
89:	learn: 1686.3871918	total: 8m 16s	remaining: 10m 7s
90:	learn: 1673.0874933	total: 8m 22s	remaining: 10m 1s
91:	learn: 1675.9705388	total: 8m 27s	remaining: 9m 56s
92:	learn: 1616.5822669	total: 8m 33s	remaining: 9m 50s
93:	learn: 1660.1657432	total: 8m 38s	remaining: 9m 45s
94:	learn: 1710.7314027	total: 8m 44s	remaining: 9m 39s
95:	learn: 1702.7097733	total: 8m 49s	remaining: 9m 34s
96:	learn: 1868.7938007	total: 8m 55s	remaining: 9m 28s
97:	learn: 1825.0771794	total: 9m	remaining: 9m 23s
98:	learn: 1740.4012345	total: 9m 6s	remaining: 9m 17s
99:	learn: 1702.2814552	total: 9m 12s	remaining: 9m 12s
100:	learn: 1733.8220084	total: 9m 17s	remaining: 9m 6s
101:	learn: 1813.1003004	total: 9m 23s	remaining: 9m
102:	learn: 1779.9933571	total: 9m 28s	remaining: 8m 55s
103:	learn: 1795.3316171	total: 9m 34s	remaining: 8m 49s
104:	learn: 1705.3892268	total: 9m 39s	remaining: 8m 44s
105:	learn: 1707.0390967	total: 9m 45s	remaining: 8m 38s
106:	learn: 1663.1151851	total: 9m 50s	remaining: 8m 33s
107:	learn: 1685.4229479	total: 9m 56s	remaining: 8m 27s
108:	learn: 1759.5859034	total: 10m 1s	remaining: 8m 22s
109:	learn: 1748.3386797	total: 10m 7s	remaining: 8m 16s
110:	learn: 1727.3204501	total: 10m 12s	remaining: 8m 11s
111:	learn: 1697.4000030	total: 10m 18s	remaining: 8m 5s
112:	learn: 1716.3345850	total: 10m 23s	remaining: 8m
113:	learn: 1689.3813676	total: 10m 29s	remaining: 7m 54s
114:	learn: 1759.3037630	total: 10m 34s	remaining: 7m 49s
115:	learn: 1822.6162879	total: 10m 40s	remaining: 7m 43s
116:	learn: 1753.7965649	total: 10m 45s	remaining: 7m 38s
117:	learn: 1739.1402323	total: 10m 51s	remaining: 7m 32s
118:	learn: 1791.3217710	total: 10m 56s	remaining: 7m 27s
119:	learn: 1743.3387003	total: 11m 2s	remaining: 7m 21s
120:	learn: 1761.8715580	total: 11m 7s	remaining: 7m 16s
121:	learn: 1737.9348833	total: 11m 13s	remaining: 7m 10s
122:	learn: 1738.9260733	total: 11m 18s	remaining: 7m 4s
123:	learn: 1739.6446332	total: 11m 24s	remaining: 6m 59s
124:	learn: 1753.2787791	total: 11m 29s	remaining: 6m 53s
125:	learn: 1731.0116994	total: 11m 35s	remaining: 6m 48s
126:	learn: 1819.5978079	total: 11m 40s	remaining: 6m 42s
127:	learn: 1761.8965667	total: 11m 46s	remaining: 6m 37s
128:	learn: 1807.2214941	total: 11m 52s	remaining: 6m 31s
129:	learn: 1806.3308672	total: 11m 57s	remaining: 6m 26s
130:	learn: 1790.0850731	total: 12m 3s	remaining: 6m 20s
131:	learn: 1814.7971937	total: 12m 8s	remaining: 6m 15s
132:	learn: 1812.7559904	total: 12m 14s	remaining: 6m 9s
133:	learn: 1764.6660163	total: 12m 19s	remaining: 6m 4s
134:	learn: 1733.5284203	total: 12m 25s	remaining: 5m 58s
135:	learn: 1698.4561804	total: 12m 30s	remaining: 5m 53s
136:	learn: 1759.0365926	total: 12m 36s	remaining: 5m 47s
137:	learn: 1682.3761129	total: 12m 41s	remaining: 5m 42s
138:	learn: 1731.8759086	total: 12m 47s	remaining: 5m 36s
139:	learn: 1793.7534271	total: 12m 52s	remaining: 5m 31s
140:	learn: 1715.7474088	total: 12m 58s	remaining: 5m 25s
141:	learn: 1696.9866550	total: 13m 3s	remaining: 5m 20s
142:	learn: 1727.8780385	total: 13m 9s	remaining: 5m 14s
143:	learn: 1685.8995221	total: 13m 14s	remaining: 5m 9s
144:	learn: 1681.6100013	total: 13m 20s	remaining: 5m 3s
145:	learn: 1666.1662468	total: 13m 25s	remaining: 4m 58s
146:	learn: 1663.5542463	total: 13m 31s	remaining: 4m 52s
147:	learn: 1661.5332966	total: 13m 36s	remaining: 4m 47s
148:	learn: 1678.1207589	total: 13m 42s	remaining: 4m 41s
149:	learn: 1665.0774876	total: 13m 47s	remaining: 4m 35s
150:	learn: 1720.5760257	total: 13m 53s	remaining: 4m 30s
151:	learn: 1720.6214641	total: 13m 58s	remaining: 4m 24s
152:	learn: 1685.6617634	total: 14m 4s	remaining: 4m 19s
153:	learn: 1668.5357333	total: 14m 9s	remaining: 4m 13s
154:	learn: 1651.2031173	total: 14m 15s	remaining: 4m 8s
155:	learn: 1688.6564674	total: 14m 21s	remaining: 4m 2s
156:	learn: 1629.9457200	total: 14m 26s	remaining: 3m 57s
157:	learn: 1634.3403831	total: 14m 32s	remaining: 3m 51s
158:	learn: 1695.1074799	total: 14m 37s	remaining: 3m 46s
159:	learn: 1642.7693726	total: 14m 43s	remaining: 3m 40s
160:	learn: 1655.0090191	total: 14m 48s	remaining: 3m 35s
161:	learn: 1760.3072812	total: 14m 54s	remaining: 3m 29s
162:	learn: 1750.9464534	total: 14m 59s	remaining: 3m 24s
163:	learn: 1681.5844642	total: 15m 5s	remaining: 3m 18s
164:	learn: 1647.6101416	total: 15m 10s	remaining: 3m 13s
165:	learn: 1630.1586462	total: 15m 16s	remaining: 3m 7s
166:	learn: 1641.9055156	total: 15m 21s	remaining: 3m 2s
167:	learn: 1654.6742195	total: 15m 27s	remaining: 2m 56s
168:	learn: 1660.7383016	total: 15m 32s	remaining: 2m 51s
169:	learn: 1640.7838225	total: 15m 38s	remaining: 2m 45s
170:	learn: 1650.5921652	total: 15m 43s	remaining: 2m 40s
171:	learn: 1662.8608712	total: 15m 49s	remaining: 2m 34s
172:	learn: 1637.4708739	total: 15m 54s	remaining: 2m 29s
173:	learn: 1659.7333744	total: 16m	remaining: 2m 23s
174:	learn: 1751.6437030	total: 16m 5s	remaining: 2m 17s
175:	learn: 1903.0703411	total: 16m 11s	remaining: 2m 12s
176:	learn: 1817.8553001	total: 16m 16s	remaining: 2m 6s
177:	learn: 1702.1395044	total: 16m 22s	remaining: 2m 1s
178:	learn: 1706.5177886	total: 16m 27s	remaining: 1m 55s
179:	learn: 1651.4621863	total: 16m 33s	remaining: 1m 50s
180:	learn: 1711.8950119	total: 16m 38s	remaining: 1m 44s
181:	learn: 1668.8775776	total: 16m 44s	remaining: 1m 39s
182:	learn: 1675.9860372	total: 16m 49s	remaining: 1m 33s
183:	learn: 1617.3393965	total: 16m 55s	remaining: 1m 28s
184:	learn: 1634.7472148	total: 17m	remaining: 1m 22s
185:	learn: 1649.7388754	total: 17m 6s	remaining: 1m 17s
186:	learn: 1644.3426313	total: 17m 11s	remaining: 1m 11s
187:	learn: 1652.3320313	total: 17m 17s	remaining: 1m 6s
188:	learn: 1627.3502746	total: 17m 23s	remaining: 1m
189:	learn: 1635.1383720	total: 17m 28s	remaining: 55.2s
190:	learn: 1616.3631766	total: 17m 34s	remaining: 49.7s
191:	learn: 1650.3066786	total: 17m 39s	remaining: 44.1s
192:	learn: 1681.3384279	total: 17m 45s	remaining: 38.6s
193:	learn: 1676.4580324	total: 17m 50s	remaining: 33.1s
194:	learn: 1655.1673489	total: 17m 56s	remaining: 27.6s
195:	learn: 1734.9518029	total: 18m 1s	remaining: 22.1s
196:	learn: 1669.4416824	total: 18m 7s	remaining: 16.6s
197:	learn: 1749.1069048	total: 18m 12s	remaining: 11s
198:	learn: 1733.8126741	total: 18m 18s	remaining: 5.52s
199:	learn: 1703.5162159	total: 18m 23s	remaining: 0us

## TEST Predict v1 ##

In [72]:
test2020 = pd.read_csv('/content/drive/MyDrive/Хакатон/testWithCodes2015-2019.csv')

In [ ]:
#Смещаем даты на год, т.к. предсказываем на 2020 по данным 2019-2016, для упрощения пайплана считаем, что предсказываем на 2019 по данным 2018-2015

In [73]:
test2020.rename(columns = {'CODE_CULTU_2015': 'CODE_CULTU_2014', 'CODE_GROUP_2015': 'CODE_GROUP_2014'}, inplace = True)

In [74]:
test2020.rename(columns = {'CODE_CULTU_2016': 'CODE_CULTU_2015', 'CODE_GROUP_2016': 'CODE_GROUP_2015'}, inplace = True)

In [75]:
test2020.rename(columns = {'CODE_CULTU_2017': 'CODE_CULTU_2016', 'CODE_GROUP_2017': 'CODE_GROUP_2016'}, inplace = True)

In [76]:
test2020.rename(columns = {'CODE_CULTU_2018': 'CODE_CULTU_2017', 'CODE_GROUP_2018': 'CODE_GROUP_2017'}, inplace = True)

In [77]:
test2020.rename(columns = {'CODE_CULTU_2019': 'CODE_CULTU_2018', 'CODE_GROUP_2019': 'CODE_GROUP_2018'}, inplace = True)

In [78]:
gm_test_pred = pd.merge(gm_uniq, test2020,  how='left', left_on=['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018'], right_on = ['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018'])

In [79]:
gm_test_pred = gm_pred.reindex(columns=['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018','CODE_CULTU_2019_y'])

In [80]:
test_pred = pd.merge(test2020, gm_pred,  how='left', left_on=['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018'], right_on = ['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018'])

In [81]:
test_pred['CODE_CULTU_2019_y'].value_counts()

GFP    1
Name: CODE_CULTU_2019_y, dtype: int64

In [82]:
#nms[nms.name.notnull()]
test_part1 = test_pred[data_pred.CODE_CULTU_2019_y.notnull()].copy()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [46]:
test_part1.head(2)

Empty DataFrame
Columns: [Unnamed: 0, CODE_CULTU_2018, CODE_GROUP_2018, centroid, CODE_CULTU_2017, CODE_GROUP_2017, CODE_CULTU_2016, CODE_GROUP_2016, CODE_CULTU_2015, CODE_GROUP_2015, CODE_CULTU_2014, CODE_GROUP_2014, cultuCode, groupCode, CODE_CULTU_2019_y]
Index: []

In [83]:
test_part2 = test_pred[test_pred.CODE_CULTU_2019_y.isna()].copy()

In [84]:
test_part2['CODE_CULTU_2019_y'] = test_part2.apply(lambda x: predict_next_culture_4_years_list(x['CODE_CULTU_2015'],x['CODE_CULTU_2016'],x['CODE_CULTU_2017'],x['CODE_CULTU_2018']), axis=1, result_type='expand')

In [85]:
test_part2['CODE_CULTU_2019_y'].value_counts()

Unknown    13
BTA         9
PPH         1
FAG         1
GFP         1
J6S         1
Name: CODE_CULTU_2019_y, dtype: int64

In [86]:
test_part3 = test_part2[test_part2['CODE_CULTU_2019_y'] == 'Unknown']

In [87]:
test_part3.head(2)

   Unnamed: 0 CODE_CULTU_2018  ...  groupCode CODE_CULTU_2019_y
0           0             BTH  ...      abaca           Unknown
1           1             ORP  ...      abcba           Unknown

[2 rows x 15 columns]

In [88]:
X_test = test_part3[[
       'CODE_CULTU_2015', 'CODE_CULTU_2016', 'CODE_CULTU_2017',
       'CODE_CULTU_2018', 'CODE_GROUP_2015',
       'CODE_GROUP_2016', 'CODE_GROUP_2017', 'CODE_GROUP_2018']]

X_test = X_test.replace(np.nan, 'unknown', regex=True)

In [89]:
cat_features_test = [0, 1, 2, 3, 4, 5, 6, 7]

In [90]:
test_dataset2 = Pool(data=X_test,
                    cat_features=cat_features_test)


# Get predicted classes
preds_class2 = model2.predict(test_dataset2)

In [91]:
X_test.shape

(13, 8)

In [92]:
test_part3['CODE_CULTU_2019_y'] = preds_class2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [93]:
test_part2_2 = test_part2[test_part2['CODE_CULTU_2019_y'] != 'Unknown']

final_data = pd.concat([test_part1,test_part2_2,test_part3])

In [ ]:
###Корректировка явных ошибок CatBoost### (Предсказание значения, которое не встречалось в выборке, заменяем на последнее значение в выборке)

In [94]:
test_part3_1 = test_part3.loc[(test_part3['CODE_CULTU_2019_y'] != test_part3['CODE_CULTU_2015']) & (test_part3['CODE_CULTU_2019_y'] != test_part3['CODE_CULTU_2016']) & (test_part3['CODE_CULTU_2019_y'] != test_part3['CODE_CULTU_2017']) & (test_part3['CODE_CULTU_2019_y'] != test_part3['CODE_CULTU_2018']) ]

In [95]:
test_part3_2 = test_part3.loc[(test_part3['CODE_CULTU_2019_y'] == test_part3['CODE_CULTU_2015']) | (test_part3['CODE_CULTU_2019_y'] == test_part3['CODE_CULTU_2016']) | (test_part3['CODE_CULTU_2019_y'] == test_part3['CODE_CULTU_2017']) | (test_part3['CODE_CULTU_2019_y'] == test_part3['CODE_CULTU_2018']) ]

In [96]:
test_part3_1[['CODE_CULTU_2019_y','CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018']]

   CODE_CULTU_2019_y CODE_CULTU_2015  ... CODE_CULTU_2017 CODE_CULTU_2018
3                J5M             BTH  ...             FAG             BTH
12               TRN             AVP  ...             BTH             PTC
14               PTR             BTH  ...             BTH             LIF

[3 rows x 5 columns]

In [97]:
test_part3_1['CODE_CULTU_2019_y'] = test_part3_1['CODE_CULTU_2018']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [98]:
final_data_test = pd.concat([test_part1,test_part2_2,test_part3_1,test_part3_2])

In [99]:
test2020.rename(columns = {'CODE_CULTU_2019_y': 'CODE_CULTU_2020'}, inplace = True)

In [ ]:
pd.DataFrame(final_data_test[['centroid','CODE_CULTU_2020']]).to_csv("/content/drive/MyDrive/Хакатон/predict2020.csv",index=False,header=True)

In [ ]:
print(test_part1.shape)
print(test_part2_2.shape)
print(test_part3.shape)

print(test_part3_1.shape)
print(test_part3_2.shape)

(4554, 19)
(230542, 19)
(166549, 20)
(31520, 20)
(135029, 20)

##Full CatBoost v2###

In [103]:
X2 = data_part3[['RotationLength', 'RotationCount',
       'CODE_CULTU_2015', 'CODE_CULTU_2016', 'CODE_CULTU_2017',
       'CODE_CULTU_2018', 'CODE_GROUP_2015',
       'CODE_GROUP_2016', 'CODE_GROUP_2017', 'CODE_GROUP_2018',
       'hzs', 'kg_id', 'ff_id']]


X2 = X2.replace(np.nan, 'unknown', regex=True)

Y2 = data_part3['CODE_CULTU_2019']

In [104]:
cat_features2 = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [105]:
train_dataset2 = Pool(data=X2,
                     label=Y2,
                     cat_features=cat_features2)

eval_dataset2 = Pool(data=X2,
                    label=Y2,
                    cat_features=cat_features2)

# Initialize CatBoostClassifier
model2 = CatBoostClassifier(iterations=200,
                           #learning_rate=0.25,
                           depth=6,
                           loss_function='MultiClass',  task_type='GPU')

#model = CatBoostClassifier(loss_function='MultiClass',  task_type='GPU')

# Fit model
model2.fit(train_dataset2)  
# Get predicted classes
#preds_class2 = model2.predict(eval_dataset2)
# Get predicted probabilities for each class
#preds_proba2 = model2.predict_proba(eval_dataset2)
# Get predicted RawFormulaVal
#preds_raw2 = model2.predict(eval_dataset2, prediction_type='RawFormulaVal')

Learning rate set to 0.5
0:	learn: 14.2548615	total: 5.54s	remaining: 18m 22s
1:	learn: 1157.3926336	total: 11.1s	remaining: 18m 23s
2:	learn: 2730.9945390	total: 16.7s	remaining: 18m 16s
3:	learn: 3467.8993873	total: 22.2s	remaining: 18m 10s
4:	learn: 3646.6503226	total: 27.8s	remaining: 18m 3s
5:	learn: 3703.5423033	total: 33.3s	remaining: 17m 55s
6:	learn: 3297.7398220	total: 38.8s	remaining: 17m 48s
7:	learn: 3194.2178823	total: 44.3s	remaining: 17m 42s
8:	learn: 2844.8642697	total: 49.8s	remaining: 17m 36s
9:	learn: 2565.9293521	total: 55.4s	remaining: 17m 31s
10:	learn: 2355.9967914	total: 1m	remaining: 17m 26s
11:	learn: 2229.3086915	total: 1m 6s	remaining: 17m 20s
12:	learn: 2053.4022320	total: 1m 11s	remaining: 17m 15s
13:	learn: 1989.3632220	total: 1m 17s	remaining: 17m 10s
14:	learn: 1918.1495321	total: 1m 23s	remaining: 17m 4s
15:	learn: 1868.2893998	total: 1m 28s	remaining: 16m 59s
16:	learn: 1811.7412007	total: 1m 34s	remaining: 16m 53s
17:	learn: 1784.1451539	total: 1m 39s	remaining: 16m 48s
18:	learn: 1724.1642462	total: 1m 45s	remaining: 16m 42s
19:	learn: 1671.6501974	total: 1m 50s	remaining: 16m 37s
20:	learn: 1638.0666798	total: 1m 56s	remaining: 16m 31s
21:	learn: 1577.9529793	total: 2m 1s	remaining: 16m 25s
22:	learn: 1559.2536906	total: 2m 7s	remaining: 16m 19s
23:	learn: 1508.3018051	total: 2m 12s	remaining: 16m 14s
24:	learn: 1488.1234805	total: 2m 18s	remaining: 16m 8s
25:	learn: 1459.6051058	total: 2m 23s	remaining: 16m 3s
26:	learn: 1414.8362698	total: 2m 29s	remaining: 15m 57s
27:	learn: 1386.3545275	total: 2m 34s	remaining: 15m 52s
28:	learn: 1352.8056171	total: 2m 40s	remaining: 15m 46s
29:	learn: 1323.4986757	total: 2m 46s	remaining: 15m 41s
30:	learn: 1309.3579274	total: 2m 51s	remaining: 15m 35s
31:	learn: 1282.2403042	total: 2m 57s	remaining: 15m 30s
32:	learn: 1262.4193223	total: 3m 2s	remaining: 15m 24s
33:	learn: 1241.8339018	total: 3m 8s	remaining: 15m 18s
34:	learn: 1227.3589704	total: 3m 13s	remaining: 15m 13s
35:	learn: 1201.7264591	total: 3m 19s	remaining: 15m 7s
36:	learn: 1191.2093309	total: 3m 24s	remaining: 15m 2s
37:	learn: 1178.2471618	total: 3m 30s	remaining: 14m 56s
38:	learn: 1153.1154410	total: 3m 35s	remaining: 14m 51s
39:	learn: 1141.3710372	total: 3m 41s	remaining: 14m 45s
40:	learn: 1124.3333301	total: 3m 46s	remaining: 14m 40s
41:	learn: 1115.6877159	total: 3m 52s	remaining: 14m 34s
42:	learn: 1093.3141732	total: 3m 58s	remaining: 14m 29s
43:	learn: 1083.7847127	total: 4m 3s	remaining: 14m 23s
44:	learn: 1061.2747669	total: 4m 9s	remaining: 14m 18s
45:	learn: 1052.7274263	total: 4m 14s	remaining: 14m 12s
46:	learn: 1041.5902761	total: 4m 20s	remaining: 14m 6s
47:	learn: 1030.0613522	total: 4m 25s	remaining: 14m 1s
48:	learn: 1017.4626899	total: 4m 31s	remaining: 13m 55s
49:	learn: 1012.2251279	total: 4m 36s	remaining: 13m 50s
50:	learn: 1004.7638166	total: 4m 42s	remaining: 13m 44s
51:	learn: 997.7055506	total: 4m 47s	remaining: 13m 39s
52:	learn: 992.4221099	total: 4m 53s	remaining: 13m 33s
53:	learn: 1015.9353098	total: 4m 58s	remaining: 13m 28s
54:	learn: 992.2072464	total: 5m 4s	remaining: 13m 22s
55:	learn: 982.5431440	total: 5m 9s	remaining: 13m 16s
56:	learn: 971.3725314	total: 5m 15s	remaining: 13m 11s
57:	learn: 961.6865904	total: 5m 20s	remaining: 13m 5s
58:	learn: 957.6487417	total: 5m 26s	remaining: 13m
59:	learn: 956.0937991	total: 5m 32s	remaining: 12m 54s
60:	learn: 946.5211898	total: 5m 37s	remaining: 12m 49s
61:	learn: 931.5668662	total: 5m 43s	remaining: 12m 43s
62:	learn: 922.7044512	total: 5m 48s	remaining: 12m 38s
63:	learn: 912.8033826	total: 5m 54s	remaining: 12m 32s
64:	learn: 905.8838972	total: 5m 59s	remaining: 12m 27s
65:	learn: 897.6105076	total: 6m 5s	remaining: 12m 21s
66:	learn: 891.8066394	total: 6m 10s	remaining: 12m 16s
67:	learn: 882.0229531	total: 6m 16s	remaining: 12m 10s
68:	learn: 877.4801751	total: 6m 21s	remaining: 12m 4s
69:	learn: 873.0538108	total: 6m 27s	remaining: 11m 59s
70:	learn: 868.1024399	total: 6m 32s	remaining: 11m 53s
71:	learn: 862.6807469	total: 6m 38s	remaining: 11m 48s
72:	learn: 858.2150204	total: 6m 44s	remaining: 11m 42s
73:	learn: 852.3359499	total: 6m 49s	remaining: 11m 37s
74:	learn: 848.3371992	total: 6m 55s	remaining: 11m 31s
75:	learn: 843.3755254	total: 7m	remaining: 11m 26s
76:	learn: 841.6180477	total: 7m 6s	remaining: 11m 20s
77:	learn: 833.5488664	total: 7m 11s	remaining: 11m 15s
78:	learn: 827.6149353	total: 7m 17s	remaining: 11m 9s
79:	learn: 826.6271796	total: 7m 22s	remaining: 11m 4s
80:	learn: 823.6428665	total: 7m 28s	remaining: 10m 58s
81:	learn: 820.5446933	total: 7m 33s	remaining: 10m 53s
82:	learn: 817.6213168	total: 7m 39s	remaining: 10m 47s
83:	learn: 815.1607775	total: 7m 45s	remaining: 10m 42s
84:	learn: 812.8231683	total: 7m 50s	remaining: 10m 36s
85:	learn: 804.7658750	total: 7m 56s	remaining: 10m 31s
86:	learn: 806.5623628	total: 8m 1s	remaining: 10m 25s
87:	learn: 796.8610115	total: 8m 7s	remaining: 10m 20s
88:	learn: 796.0477884	total: 8m 12s	remaining: 10m 14s
89:	learn: 799.6180449	total: 8m 18s	remaining: 10m 8s
90:	learn: 795.3343359	total: 8m 23s	remaining: 10m 3s
91:	learn: 791.6809519	total: 8m 29s	remaining: 9m 57s
92:	learn: 787.8745217	total: 8m 34s	remaining: 9m 52s
93:	learn: 784.2302078	total: 8m 40s	remaining: 9m 46s
94:	learn: 782.3998173	total: 8m 45s	remaining: 9m 41s
95:	learn: 776.7792875	total: 8m 51s	remaining: 9m 35s
96:	learn: 772.3254489	total: 8m 56s	remaining: 9m 30s
97:	learn: 768.5643689	total: 9m 2s	remaining: 9m 24s
98:	learn: 769.3362925	total: 9m 8s	remaining: 9m 19s
99:	learn: 773.0677846	total: 9m 13s	remaining: 9m 13s
100:	learn: 769.0411193	total: 9m 19s	remaining: 9m 8s
101:	learn: 763.3025907	total: 9m 24s	remaining: 9m 2s
102:	learn: 761.5029328	total: 9m 30s	remaining: 8m 56s
103:	learn: 757.9261599	total: 9m 35s	remaining: 8m 51s
104:	learn: 756.0054211	total: 9m 41s	remaining: 8m 45s
105:	learn: 752.6220254	total: 9m 46s	remaining: 8m 40s
106:	learn: 746.8298690	total: 9m 52s	remaining: 8m 34s
107:	learn: 745.3196604	total: 9m 57s	remaining: 8m 29s
108:	learn: 740.1459410	total: 10m 3s	remaining: 8m 23s
109:	learn: 736.0334623	total: 10m 8s	remaining: 8m 18s
110:	learn: 729.5538308	total: 10m 14s	remaining: 8m 12s
111:	learn: 726.0501027	total: 10m 20s	remaining: 8m 7s
112:	learn: 723.1689505	total: 10m 25s	remaining: 8m 1s
113:	learn: 720.9033733	total: 10m 31s	remaining: 7m 56s
114:	learn: 720.7704486	total: 10m 36s	remaining: 7m 50s
115:	learn: 719.9933295	total: 10m 42s	remaining: 7m 45s
116:	learn: 717.7830093	total: 10m 47s	remaining: 7m 39s
117:	learn: 713.4412256	total: 10m 53s	remaining: 7m 33s
118:	learn: 711.4305347	total: 10m 58s	remaining: 7m 28s
119:	learn: 712.4630683	total: 11m 4s	remaining: 7m 22s
120:	learn: 714.1563952	total: 11m 9s	remaining: 7m 17s
121:	learn: 710.4064987	total: 11m 15s	remaining: 7m 11s
122:	learn: 707.0714914	total: 11m 20s	remaining: 7m 6s
123:	learn: 704.2444953	total: 11m 26s	remaining: 7m
124:	learn: 705.7454577	total: 11m 31s	remaining: 6m 55s
125:	learn: 705.0007003	total: 11m 37s	remaining: 6m 49s
126:	learn: 704.5128986	total: 11m 43s	remaining: 6m 44s
127:	learn: 703.7418116	total: 11m 48s	remaining: 6m 38s
128:	learn: 700.7708393	total: 11m 54s	remaining: 6m 33s
129:	learn: 696.6562913	total: 11m 59s	remaining: 6m 27s
130:	learn: 692.4145864	total: 12m 5s	remaining: 6m 21s
131:	learn: 691.3942489	total: 12m 10s	remaining: 6m 16s
132:	learn: 690.0253307	total: 12m 16s	remaining: 6m 10s
133:	learn: 687.7278322	total: 12m 21s	remaining: 6m 5s
134:	learn: 684.4437669	total: 12m 27s	remaining: 5m 59s
135:	learn: 682.7995327	total: 12m 32s	remaining: 5m 54s
136:	learn: 682.1955814	total: 12m 38s	remaining: 5m 48s
137:	learn: 679.8918748	total: 12m 44s	remaining: 5m 43s
138:	learn: 676.4306351	total: 12m 49s	remaining: 5m 37s
139:	learn: 677.0900195	total: 12m 55s	remaining: 5m 32s
140:	learn: 681.8646123	total: 13m	remaining: 5m 26s
141:	learn: 690.1515630	total: 13m 6s	remaining: 5m 21s
142:	learn: 684.0160212	total: 13m 11s	remaining: 5m 15s
143:	learn: 675.2635036	total: 13m 17s	remaining: 5m 10s
144:	learn: 668.7720281	total: 13m 22s	remaining: 5m 4s
145:	learn: 668.3641397	total: 13m 28s	remaining: 4m 59s
146:	learn: 667.0606051	total: 13m 33s	remaining: 4m 53s
147:	learn: 666.7866982	total: 13m 39s	remaining: 4m 47s
148:	learn: 665.9775698	total: 13m 45s	remaining: 4m 42s
149:	learn: 662.8147614	total: 13m 50s	remaining: 4m 36s
150:	learn: 662.1807820	total: 13m 56s	remaining: 4m 31s
151:	learn: 660.9907112	total: 14m 1s	remaining: 4m 25s
152:	learn: 658.4808589	total: 14m 7s	remaining: 4m 20s
153:	learn: 656.5932742	total: 14m 12s	remaining: 4m 14s
154:	learn: 654.7703688	total: 14m 18s	remaining: 4m 9s
155:	learn: 652.2367846	total: 14m 23s	remaining: 4m 3s
156:	learn: 649.7344174	total: 14m 29s	remaining: 3m 58s
157:	learn: 649.6987095	total: 14m 34s	remaining: 3m 52s
158:	learn: 651.2820070	total: 14m 40s	remaining: 3m 47s
159:	learn: 648.5974900	total: 14m 46s	remaining: 3m 41s
160:	learn: 648.5279676	total: 14m 51s	remaining: 3m 35s
161:	learn: 646.8456480	total: 14m 57s	remaining: 3m 30s
162:	learn: 647.8516759	total: 15m 2s	remaining: 3m 24s
163:	learn: 646.4488991	total: 15m 8s	remaining: 3m 19s
164:	learn: 645.1796634	total: 15m 13s	remaining: 3m 13s
165:	learn: 643.3160307	total: 15m 19s	remaining: 3m 8s
166:	learn: 641.2719215	total: 15m 24s	remaining: 3m 2s
167:	learn: 643.4751970	total: 15m 30s	remaining: 2m 57s
168:	learn: 645.8291852	total: 15m 35s	remaining: 2m 51s
169:	learn: 643.3976612	total: 15m 41s	remaining: 2m 46s
170:	learn: 640.0210020	total: 15m 47s	remaining: 2m 40s
171:	learn: 636.9544419	total: 15m 52s	remaining: 2m 35s
172:	learn: 637.3830242	total: 15m 58s	remaining: 2m 29s
173:	learn: 635.1554444	total: 16m 3s	remaining: 2m 24s
174:	learn: 635.1177553	total: 16m 9s	remaining: 2m 18s
175:	learn: 632.0132859	total: 16m 14s	remaining: 2m 12s
176:	learn: 629.2679643	total: 16m 20s	remaining: 2m 7s
177:	learn: 626.8891876	total: 16m 25s	remaining: 2m 1s
178:	learn: 623.9212094	total: 16m 31s	remaining: 1m 56s
179:	learn: 623.2296835	total: 16m 36s	remaining: 1m 50s
180:	learn: 623.7430224	total: 16m 42s	remaining: 1m 45s
181:	learn: 620.9241277	total: 16m 47s	remaining: 1m 39s
182:	learn: 619.8546534	total: 16m 53s	remaining: 1m 34s
183:	learn: 618.7557235	total: 16m 59s	remaining: 1m 28s
184:	learn: 617.7360465	total: 17m 4s	remaining: 1m 23s
185:	learn: 619.3856522	total: 17m 10s	remaining: 1m 17s
186:	learn: 618.5920662	total: 17m 15s	remaining: 1m 12s
187:	learn: 617.3837232	total: 17m 21s	remaining: 1m 6s
188:	learn: 614.8064619	total: 17m 26s	remaining: 1m
189:	learn: 613.9717524	total: 17m 32s	remaining: 55.4s
190:	learn: 613.5905898	total: 17m 37s	remaining: 49.8s
191:	learn: 613.3079651	total: 17m 43s	remaining: 44.3s
192:	learn: 613.3488684	total: 17m 49s	remaining: 38.8s
193:	learn: 612.3454822	total: 17m 54s	remaining: 33.2s
194:	learn: 613.1294698	total: 18m	remaining: 27.7s
195:	learn: 610.2093075	total: 18m 5s	remaining: 22.2s
196:	learn: 609.0556931	total: 18m 11s	remaining: 16.6s
197:	learn: 607.3087383	total: 18m 16s	remaining: 11.1s
198:	learn: 605.7149619	total: 18m 22s	remaining: 5.54s
199:	learn: 604.5527176	total: 18m 27s	remaining: 0us

## TEST Predict v2 ##

In [126]:
test2020 = pd.read_csv('/content/drive/MyDrive/Хакатон/testdataset2015-2019_full.csv')

In [ ]:
#Смещаем даты на год, т.к. предсказываем на 2020 по данным 2019-2016, для упрощения пайплана считаем, что предсказываем на 2019 по данным 2018-2015

In [127]:
test2020.rename(columns = {'CODE_CULTU_2015': 'CODE_CULTU_2014', 'CODE_GROUP_2015': 'CODE_GROUP_2014'}, inplace = True)

In [128]:
test2020.rename(columns = {'CODE_CULTU_2016': 'CODE_CULTU_2015', 'CODE_GROUP_2016': 'CODE_GROUP_2015'}, inplace = True)

In [129]:
test2020.rename(columns = {'CODE_CULTU_2017': 'CODE_CULTU_2016', 'CODE_GROUP_2017': 'CODE_GROUP_2016'}, inplace = True)

In [130]:
test2020.rename(columns = {'CODE_CULTU_2018': 'CODE_CULTU_2017', 'CODE_GROUP_2018': 'CODE_GROUP_2017'}, inplace = True)

In [131]:
test2020.rename(columns = {'CODE_CULTU_2019': 'CODE_CULTU_2018', 'CODE_GROUP_2019': 'CODE_GROUP_2018'}, inplace = True)

In [132]:
gm_test_pred = pd.merge(gm_uniq, test2020,  how='left', left_on=['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018'], right_on = ['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018'])

In [133]:
gm_test_pred = gm_pred.reindex(columns=['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018','CODE_CULTU_2019_y'])

In [134]:
test_pred = pd.merge(test2020, gm_pred,  how='left', left_on=['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018'], right_on = ['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018'])

In [135]:
test_pred['CODE_CULTU_2019_y'].value_counts()

GFP    1
Name: CODE_CULTU_2019_y, dtype: int64

In [136]:
test_part1 = test_pred[data_pred.CODE_CULTU_2019_y.notnull()].copy()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [137]:
test_part1.head(2)

Empty DataFrame
Columns: [CODE_CULTU_2018, CODE_GROUP_2018, centroid, CODE_CULTU_2017, CODE_GROUP_2017, CODE_CULTU_2016, CODE_GROUP_2016, CODE_CULTU_2015, CODE_GROUP_2015, CODE_CULTU_2014, CODE_GROUP_2014, cultuCode, groupCode, 2019, RotationLength, RotationCount, hzs, kg_id, ff_id, CODE_CULTU_2019_y]
Index: []

In [138]:
test_part2 = test_pred[test_pred.CODE_CULTU_2019_y.isna()].copy()

In [139]:
test_part2['CODE_CULTU_2019_y'] = test_part2.apply(lambda x: predict_next_culture_4_years_list(x['CODE_CULTU_2015'],x['CODE_CULTU_2016'],x['CODE_CULTU_2017'],x['CODE_CULTU_2018']), axis=1, result_type='expand')

In [140]:
test_part2['CODE_CULTU_2019_y'].value_counts()

Unknown    13
BTA         9
PPH         1
FAG         1
GFP         1
J6S         1
Name: CODE_CULTU_2019_y, dtype: int64

In [141]:
test_part3 = test_part2[test_part2['CODE_CULTU_2019_y'] == 'Unknown']

In [142]:
test_part3.head(2)

  CODE_CULTU_2018  CODE_GROUP_2018  ... ff_id CODE_CULTU_2019_y
0             BTH                1  ...  ff16           Unknown
1             ORP                3  ...  ff16           Unknown

[2 rows x 20 columns]

In [143]:
X_test = test_part3[['RotationLength', 'RotationCount',
       'CODE_CULTU_2015', 'CODE_CULTU_2016', 'CODE_CULTU_2017',
       'CODE_CULTU_2018', 'CODE_GROUP_2015',
       'CODE_GROUP_2016', 'CODE_GROUP_2017', 'CODE_GROUP_2018',
       'hzs', 'kg_id', 'ff_id']]

X_test = X_test.replace(np.nan, 'unknown', regex=True)

In [144]:
cat_features_test = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [145]:
test_dataset2 = Pool(data=X_test,
                    cat_features=cat_features_test)


# Get predicted classes
preds_class2 = model2.predict(test_dataset2)

In [146]:
X_test.shape

(13, 13)

In [147]:
test_part3['CODE_CULTU_2019_y'] = preds_class2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [148]:
test_part2_2 = test_part2[test_part2['CODE_CULTU_2019_y'] != 'Unknown']

In [ ]:
###Корректировка явных ошибок CatBoost### (Предсказание значения, которое не встречалось в выборке, заменяем на последнее значение в выборке)

In [149]:
test_part3_1 = test_part3.loc[(test_part3['CODE_CULTU_2019_y'] != test_part3['CODE_CULTU_2015']) & (test_part3['CODE_CULTU_2019_y'] != test_part3['CODE_CULTU_2016']) & (test_part3['CODE_CULTU_2019_y'] != test_part3['CODE_CULTU_2017']) & (test_part3['CODE_CULTU_2019_y'] != test_part3['CODE_CULTU_2018']) ]

In [150]:
test_part3_2 = test_part3.loc[(test_part3['CODE_CULTU_2019_y'] == test_part3['CODE_CULTU_2015']) | (test_part3['CODE_CULTU_2019_y'] == test_part3['CODE_CULTU_2016']) | (test_part3['CODE_CULTU_2019_y'] == test_part3['CODE_CULTU_2017']) | (test_part3['CODE_CULTU_2019_y'] == test_part3['CODE_CULTU_2018']) ]

In [151]:
test_part3_1[['CODE_CULTU_2019_y','CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018']]

   CODE_CULTU_2019_y CODE_CULTU_2015  ... CODE_CULTU_2017 CODE_CULTU_2018
1                TRN             BTH  ...             BTH             ORP
3                MIE             BTH  ...             FAG             BTH
13               PCH             BTH  ...             BTH             LIF
19               CHU             BTH  ...             BTH             LIF

[4 rows x 5 columns]

In [152]:
test_part3_1['CODE_CULTU_2019_y'] = test_part3_1['CODE_CULTU_2018']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [153]:
final_data_test = pd.concat([test_part1,test_part2_2,test_part3_1,test_part3_2])

In [154]:
test2020.rename(columns = {'CODE_CULTU_2019_y': 'CODE_CULTU_2020'}, inplace = True)

In [ ]:
pd.DataFrame(final_data_test[['centroid','CODE_CULTU_2020']]).to_csv("/content/drive/MyDrive/Хакатон/predict2020_v2.csv",index=False,header=True)