### Preparing Data ###

In [ ]:
import pandas as pd
from scipy.spatial import cKDTree
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Хакатон/dataset2015_2019.csv')

In [125]:
data.head(2)

   Unnamed: 0  ...                  4 Nearest Neigbour Point
0           0  ...  Point (907563.65755459 6554039.35762193)
1           1  ...   Point (907032.95563938 6550121.6369531)

[2 rows x 25 columns]

In [ ]:
!pip install catboost

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/96/3b/bb419654adcf7efff42ed8a3f84e50c8f236424b7ed1cc8ccd290852e003/catboost-0.24.4-cp37-none-manylinux1_x86_64.whl (65.7MB)
     |████████████████████████████████| 65.7MB 79kB/s
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-0.24.4

In [ ]:
import catboost as cb
from catboost import Pool, CatBoostClassifier
from sklearn.model_selection import GridSearchCV

In [10]:
def predict_next_culture_4_years_list(l0, l1, l2, l3):
  if l0 == l1 != l2 and l2 == l3:
     return 'Unknown'
  if l0 == l1 == l2 == l3:
     return l0
  #if l0 == l3:
  #   return l1
  if l0 == l2 and l1 == l3:
     return l0
  #if l0 == l2 and l1 != l2:
  #   return l0
  if l0 == l1 != l2 and l2 == l3:
     return l0
  return 'Unknown'

In [11]:
print(predict_next_culture_4_years_list(data.iloc[0]['CODE_CULTU_2015'],data.iloc[0]['CODE_CULTU_2016'],data.iloc[0]['CODE_CULTU_2017'],data.iloc[0]['CODE_CULTU_2018']))

PPH

In [12]:
g = data.groupby(['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018'])['CODE_CULTU_2019'].count()

In [13]:
gm = g.add_suffix('').reset_index()

In [14]:
gm_uniq = gm[gm['CODE_CULTU_2019'] == 1]

In [15]:
gm_uniq

       CODE_CULTU_2015 CODE_CULTU_2016  ... CODE_CULTU_2018 CODE_CULTU_2019
0                  ACA             FLA  ...             FLA               1
1                  ACA             FLP  ...             FLP               1
2                  ACA             MIS  ...             SNE               1
3                  ACA             SNE  ...             SNE               1
5                  AGR             BOR  ...             SNE               1
...                ...             ...  ...             ...             ...
139698             VRT             VRT  ...             SOG               1
139703             XFE             PTR  ...             BTH               1
139704             XFE             PTR  ...             PPH               1
139706             XFE             XFE  ...             PRL               1
139707             XFE             XFE  ...             XFE               1

[82551 rows x 5 columns]

In [16]:
gm_pred = pd.merge(gm_uniq, data,  how='left', left_on=['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018'], right_on = ['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018'])

In [17]:
gm_pred = gm_pred.reindex(columns=['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018','CODE_CULTU_2019_y'])

In [19]:
data_pred = pd.merge(data, gm_pred,  how='left', left_on=['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018'], right_on = ['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018'])

In [20]:
data_pred['CODE_CULTU_2019_y'].value_counts()

BTH    11247
PTR     8134
LUZ     4978
MLG     4003
MIS     3902
       ...
LFP        1
MIN        1
OEH        1
PSY        1
MRG        1
Name: CODE_CULTU_2019_y, Length: 218, dtype: int64

In [21]:
data_part1 = data_pred[data_pred.CODE_CULTU_2019_y.notnull()].copy()

In [22]:
data_part1.head(2)

    Unnamed: 0  ... CODE_CULTU_2019_y
50          50  ...               BTH
74          74  ...               ORP

[2 rows x 26 columns]

In [24]:
data_part2 = data_pred[data_pred.CODE_CULTU_2019_y.isna()].copy()

In [25]:
data_part2.head(2)

   Unnamed: 0  ... CODE_CULTU_2019_y
0           0  ...               NaN
1           1  ...               NaN

[2 rows x 26 columns]

In [26]:
data_part2['CODE_CULTU_2019_y'] = data_part2.apply(lambda x: predict_next_culture_4_years_list(x['CODE_CULTU_2015'],x['CODE_CULTU_2016'],x['CODE_CULTU_2017'],x['CODE_CULTU_2018']), axis=1, result_type='expand')

In [27]:
data_part2['CODE_CULTU_2019_y'].value_counts()

Unknown    1453574
PPH        1067851
VRC         181807
J6S         100032
SNE          85849
            ...
LIP              2
NVF              2
SAD              2
CZP              2
LDP              2
Name: CODE_CULTU_2019_y, Length: 160, dtype: int64

In [28]:
data_manual = data_part2[data_part2['CODE_CULTU_2019_y'] != 'Unknown']

In [29]:
data_manual.shape

(2078679, 26)

In [30]:
Y_val = data_manual['CODE_CULTU_2019']
Y_pred = data_manual['CODE_CULTU_2019_y']

In [31]:
print(accuracy_score(Y_val,Y_pred))

0.9479198086861896

In [32]:
data_part3 = data_part2[data_part2['CODE_CULTU_2019_y'] == 'Unknown']

In [33]:
print(data_part1.shape)
print(data_part2.shape)
print(data_part3.shape)

(82551, 26)
(3532253, 26)
(1453574, 26)

### Train/Val CatBoost###

In [35]:
"""
'RotationLength', 'RotationCount',
'CODE_CULTU_2015', 'CODE_CULTU_2016', 'CODE_CULTU_2017',
'CODE_CULTU_2018', 'CODE_CULTU_2019', 'CODE_GROUP_2015',
'CODE_GROUP_2016', 'CODE_GROUP_2017', 'CODE_GROUP_2018',
'CODE_GROUP_2019', 'cultuCode', 'groupCode', 'hzs', 'kg_id', 'ff_id'
"""

X = data_part3[['RotationLength', 'RotationCount',
       'CODE_CULTU_2015', 'CODE_CULTU_2016', 'CODE_CULTU_2017',
       'CODE_CULTU_2018', 'CODE_GROUP_2015',
       'CODE_GROUP_2016', 'CODE_GROUP_2017', 'CODE_GROUP_2018',
       'cultuCode', 'groupCode', 'hzs', 'kg_id', 'ff_id']]

X = X.replace(np.nan, 'unknown', regex=True)

Y = data_part3['CODE_CULTU_2019']

In [ ]:
X.shape

(1453574, 15)

In [36]:
X_train, X_val, Y_train, Y_val = train_test_split(X, Y, test_size=0.2, random_state=286)

In [37]:
X.columns

Index(['RotationLength', 'RotationCount', 'CODE_CULTU_2015', 'CODE_CULTU_2016',
       'CODE_CULTU_2017', 'CODE_CULTU_2018', 'CODE_GROUP_2015',
       'CODE_GROUP_2016', 'CODE_GROUP_2017', 'CODE_GROUP_2018', 'cultuCode',
       'groupCode', 'hzs', 'kg_id', 'ff_id'],
      dtype='object')

In [38]:
X.head(2)

    RotationLength  RotationCount CODE_CULTU_2015  ... hzs kg_id ff_id
12               3              1             TTH  ...  8b   Cfb  ff13
18               3              1             ORH  ...  8b   Cfb  ff13

[2 rows x 15 columns]

In [39]:
cat_features = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [40]:
X.isnull().sum(axis = 0)

RotationLength     0
RotationCount      0
CODE_CULTU_2015    0
CODE_CULTU_2016    0
CODE_CULTU_2017    0
CODE_CULTU_2018    0
CODE_GROUP_2015    0
CODE_GROUP_2016    0
CODE_GROUP_2017    0
CODE_GROUP_2018    0
cultuCode          0
groupCode          0
hzs                0
kg_id              0
ff_id              0
dtype: int64

In [41]:
train_dataset = Pool(data=X_train,
                     label=Y_train,
                     cat_features=cat_features)

eval_dataset = Pool(data=X_val,
                    label=Y_val,
                    cat_features=cat_features)

# Initialize CatBoostClassifier
model = CatBoostClassifier(iterations=100,
                           #learning_rate=0.25,
                           depth=4,
                           loss_function='MultiClass',  task_type='GPU')

#model = CatBoostClassifier(loss_function='MultiClass',  task_type='GPU')

# Fit model
model.fit(train_dataset)  
# Get predicted classes
preds_class = model.predict(eval_dataset)
# Get predicted probabilities for each class
preds_proba = model.predict_proba(eval_dataset)
# Get predicted RawFormulaVal
preds_raw = model.predict(eval_dataset, prediction_type='RawFormulaVal')

Learning rate set to 0.5
0:	learn: 13.9392360	total: 6.81s	remaining: 11m 13s
1:	learn: 2140.9018428	total: 14.1s	remaining: 11m 33s
2:	learn: 5977.3900567	total: 21s	remaining: 11m 18s
3:	learn: 6921.1037417	total: 27.8s	remaining: 11m 7s
4:	learn: 7777.9509158	total: 34.6s	remaining: 10m 58s
5:	learn: 7458.7790540	total: 41.5s	remaining: 10m 49s
6:	learn: 6919.1510372	total: 48.3s	remaining: 10m 41s
7:	learn: 6588.2039491	total: 55.1s	remaining: 10m 34s
8:	learn: 5837.8934265	total: 1m 1s	remaining: 10m 26s
9:	learn: 5566.6427383	total: 1m 8s	remaining: 10m 19s
10:	learn: 5262.7261878	total: 1m 15s	remaining: 10m 11s
11:	learn: 4851.5535452	total: 1m 22s	remaining: 10m 4s
12:	learn: 4746.1858746	total: 1m 29s	remaining: 9m 57s
13:	learn: 4646.1730614	total: 1m 36s	remaining: 9m 50s
14:	learn: 4494.6242597	total: 1m 42s	remaining: 9m 43s
15:	learn: 4378.0731181	total: 1m 49s	remaining: 9m 36s
16:	learn: 4098.0306366	total: 1m 56s	remaining: 9m 29s
17:	learn: 3951.0186256	total: 2m 3s	remaining: 9m 22s
18:	learn: 3716.8160473	total: 2m 10s	remaining: 9m 15s
19:	learn: 3514.5797040	total: 2m 17s	remaining: 9m 8s
20:	learn: 3338.7308487	total: 2m 23s	remaining: 9m 1s
21:	learn: 3215.4962622	total: 2m 30s	remaining: 8m 54s
22:	learn: 3046.3207250	total: 2m 37s	remaining: 8m 47s
23:	learn: 2921.2912795	total: 2m 44s	remaining: 8m 40s
24:	learn: 2837.0026908	total: 2m 51s	remaining: 8m 33s
25:	learn: 2775.2866616	total: 2m 58s	remaining: 8m 26s
26:	learn: 2743.6017746	total: 3m 4s	remaining: 8m 20s
27:	learn: 2706.8107965	total: 3m 11s	remaining: 8m 13s
28:	learn: 2614.1583803	total: 3m 18s	remaining: 8m 6s
29:	learn: 2573.8785115	total: 3m 25s	remaining: 7m 59s
30:	learn: 2509.2928653	total: 3m 32s	remaining: 7m 52s
31:	learn: 2464.3113155	total: 3m 39s	remaining: 7m 45s
32:	learn: 2414.9845029	total: 3m 45s	remaining: 7m 38s
33:	learn: 2375.2726134	total: 3m 52s	remaining: 7m 31s
34:	learn: 2327.9295461	total: 3m 59s	remaining: 7m 24s
35:	learn: 2303.9181053	total: 4m 6s	remaining: 7m 18s
36:	learn: 2250.2885182	total: 4m 13s	remaining: 7m 11s
37:	learn: 2208.7830906	total: 4m 20s	remaining: 7m 4s
38:	learn: 2171.0111372	total: 4m 26s	remaining: 6m 57s
39:	learn: 2124.5132144	total: 4m 33s	remaining: 6m 50s
40:	learn: 2074.4913975	total: 4m 40s	remaining: 6m 43s
41:	learn: 2043.2569314	total: 4m 47s	remaining: 6m 36s
42:	learn: 1999.8950036	total: 4m 54s	remaining: 6m 29s
43:	learn: 1977.0437379	total: 5m 1s	remaining: 6m 23s
44:	learn: 1943.2095551	total: 5m 7s	remaining: 6m 16s
45:	learn: 1920.6805847	total: 5m 14s	remaining: 6m 9s
46:	learn: 1895.8180553	total: 5m 21s	remaining: 6m 2s
47:	learn: 1853.2002246	total: 5m 28s	remaining: 5m 55s
48:	learn: 1824.5112090	total: 5m 35s	remaining: 5m 48s
49:	learn: 1794.5424785	total: 5m 41s	remaining: 5m 41s
50:	learn: 1775.6689401	total: 5m 48s	remaining: 5m 35s
51:	learn: 1749.1802944	total: 5m 55s	remaining: 5m 28s
52:	learn: 1718.8755094	total: 6m 2s	remaining: 5m 21s
53:	learn: 1690.6043329	total: 6m 9s	remaining: 5m 14s
54:	learn: 1669.4202410	total: 6m 16s	remaining: 5m 7s
55:	learn: 1655.8087679	total: 6m 22s	remaining: 5m
56:	learn: 1634.2051857	total: 6m 29s	remaining: 4m 54s
57:	learn: 1620.3319577	total: 6m 36s	remaining: 4m 47s
58:	learn: 1607.7207228	total: 6m 43s	remaining: 4m 40s
59:	learn: 1583.4899055	total: 6m 50s	remaining: 4m 33s
60:	learn: 1564.9581454	total: 6m 57s	remaining: 4m 26s
61:	learn: 1553.9605885	total: 7m 3s	remaining: 4m 19s
62:	learn: 1517.5793041	total: 7m 10s	remaining: 4m 13s
63:	learn: 1499.4831050	total: 7m 17s	remaining: 4m 6s
64:	learn: 1485.1595662	total: 7m 24s	remaining: 3m 59s
65:	learn: 1473.0448730	total: 7m 31s	remaining: 3m 52s
66:	learn: 1451.4737625	total: 7m 38s	remaining: 3m 45s
67:	learn: 1429.4624679	total: 7m 44s	remaining: 3m 38s
68:	learn: 1417.5112340	total: 7m 51s	remaining: 3m 31s
69:	learn: 1408.7980331	total: 7m 58s	remaining: 3m 25s
70:	learn: 1396.1910911	total: 8m 5s	remaining: 3m 18s
71:	learn: 1387.3305018	total: 8m 12s	remaining: 3m 11s
72:	learn: 1377.6726499	total: 8m 19s	remaining: 3m 4s
73:	learn: 1367.3484128	total: 8m 25s	remaining: 2m 57s
74:	learn: 1352.2770344	total: 8m 32s	remaining: 2m 50s
75:	learn: 1338.4099706	total: 8m 39s	remaining: 2m 44s
76:	learn: 1327.5014632	total: 8m 46s	remaining: 2m 37s
77:	learn: 1313.1380778	total: 8m 53s	remaining: 2m 30s
78:	learn: 1298.6874041	total: 9m	remaining: 2m 23s
79:	learn: 1285.1757677	total: 9m 7s	remaining: 2m 16s
80:	learn: 1274.4992953	total: 9m 13s	remaining: 2m 9s
81:	learn: 1263.7501744	total: 9m 20s	remaining: 2m 3s
82:	learn: 1253.7615515	total: 9m 27s	remaining: 1m 56s
83:	learn: 1241.9551743	total: 9m 34s	remaining: 1m 49s
84:	learn: 1228.6536682	total: 9m 41s	remaining: 1m 42s
85:	learn: 1221.2481410	total: 9m 48s	remaining: 1m 35s
86:	learn: 1205.7404311	total: 9m 54s	remaining: 1m 28s
87:	learn: 1198.2172353	total: 10m 1s	remaining: 1m 22s
88:	learn: 1192.3998490	total: 10m 8s	remaining: 1m 15s
89:	learn: 1183.4484490	total: 10m 15s	remaining: 1m 8s
90:	learn: 1171.4057439	total: 10m 22s	remaining: 1m 1s
91:	learn: 1166.3029550	total: 10m 29s	remaining: 54.7s
92:	learn: 1156.2387117	total: 10m 35s	remaining: 47.9s
93:	learn: 1149.2250462	total: 10m 42s	remaining: 41s
94:	learn: 1138.7643179	total: 10m 49s	remaining: 34.2s
95:	learn: 1131.2766758	total: 10m 56s	remaining: 27.4s
96:	learn: 1116.8137840	total: 11m 3s	remaining: 20.5s
97:	learn: 1110.9431221	total: 11m 10s	remaining: 13.7s
98:	learn: 1106.5686898	total: 11m 16s	remaining: 6.84s
99:	learn: 1099.9021962	total: 11m 23s	remaining: 0us

In [42]:
print(accuracy_score(Y_val,preds_class))

0.6135080749187348

In [43]:
eval_dataset = Pool(data=X,
                    label=Y,
                    cat_features=cat_features)

In [44]:
preds_class = model.predict(eval_dataset)

In [45]:
print(accuracy_score(Y,preds_class))

0.6139625502382403

In [46]:
data_part3['CODE_CULTU_2019_y'] = preds_class

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [47]:
data_part2_2 = data_part2[data_part2['CODE_CULTU_2019_y'] != 'Unknown']

final_data = pd.concat([data_part1,data_part2_2,data_part3])

In [48]:
Y_val = final_data['CODE_CULTU_2019']
Y_pred = final_data['CODE_CULTU_2019_y']

In [49]:
print(accuracy_score(Y_val,Y_pred))

0.8148192820412946

In [ ]:
###Корректировка явных ошибок CatBoost### (Предсказание значения, которое не встречалось в выборке, заменяем на последнее значение в выборке)

In [50]:
data_part3_1 = data_part3.loc[(data_part3['CODE_CULTU_2019_y'] != data_part3['CODE_CULTU_2015']) & (data_part3['CODE_CULTU_2019_y'] != data_part3['CODE_CULTU_2016']) & (data_part3['CODE_CULTU_2019_y'] != data_part3['CODE_CULTU_2017']) & (data_part3['CODE_CULTU_2019_y'] != data_part3['CODE_CULTU_2018']) ]

In [51]:
data_part3_2 = data_part3.loc[(data_part3['CODE_CULTU_2019_y'] == data_part3['CODE_CULTU_2015']) | (data_part3['CODE_CULTU_2019_y'] == data_part3['CODE_CULTU_2016']) | (data_part3['CODE_CULTU_2019_y'] == data_part3['CODE_CULTU_2017']) | (data_part3['CODE_CULTU_2019_y'] == data_part3['CODE_CULTU_2018']) ]

In [52]:
data_part3_1['CODE_CULTU_2019_y'] = data_part3_1['CODE_CULTU_2018']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [54]:
final_data = pd.concat([data_part1,data_part2_2,data_part3_1,data_part3_2])

In [55]:
Y_val = final_data['CODE_CULTU_2019']
Y_pred = final_data['CODE_CULTU_2019_y']

In [56]:
print(accuracy_score(Y_val,Y_pred))

0.8190662619605378

##Full CatBoost###

In [57]:
#X2 = data_part3[['RotationLength', 'RotationCount',
#       'CODE_CULTU_2015', 'CODE_CULTU_2016', 'CODE_CULTU_2017',
#       'CODE_CULTU_2018', 'CODE_GROUP_2015',
#       'CODE_GROUP_2016', 'CODE_GROUP_2017', 'CODE_GROUP_2018',
#       'cultuCode', 'groupCode', 'hzs', 'kg_id', 'ff_id']]

X2 = data_part3[['RotationLength', 'RotationCount',
       'CODE_CULTU_2015', 'CODE_CULTU_2016', 'CODE_CULTU_2017',
       'CODE_CULTU_2018', 'CODE_GROUP_2015',
       'CODE_GROUP_2016', 'CODE_GROUP_2017', 'CODE_GROUP_2018',
       'hzs', 'kg_id', 'ff_id']]


X2 = X2.replace(np.nan, 'unknown', regex=True)

Y2 = data_part3['CODE_CULTU_2019']

In [58]:
cat_features2 = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [59]:
train_dataset2 = Pool(data=X2,
                     label=Y2,
                     cat_features=cat_features2)

eval_dataset2 = Pool(data=X2,
                    label=Y2,
                    cat_features=cat_features2)

# Initialize CatBoostClassifier
model2 = CatBoostClassifier(iterations=200,
                           #learning_rate=0.25,
                           depth=6,
                           loss_function='MultiClass',  task_type='GPU')

#model = CatBoostClassifier(loss_function='MultiClass',  task_type='GPU')

# Fit model
model2.fit(train_dataset2)  
# Get predicted classes
preds_class2 = model2.predict(eval_dataset2)
# Get predicted probabilities for each class
preds_proba2 = model2.predict_proba(eval_dataset2)
# Get predicted RawFormulaVal
preds_raw2 = model2.predict(eval_dataset2, prediction_type='RawFormulaVal')

Learning rate set to 0.5
0:	learn: 14.2548560	total: 8.8s	remaining: 29m 11s
1:	learn: 1157.3928097	total: 18.8s	remaining: 31m 1s
2:	learn: 2730.9936584	total: 27.8s	remaining: 30m 24s
3:	learn: 3467.8979784	total: 36.7s	remaining: 29m 58s
4:	learn: 3646.6619463	total: 45.6s	remaining: 29m 38s
5:	learn: 3703.5599151	total: 54.4s	remaining: 29m 20s
6:	learn: 3297.7898394	total: 1m 3s	remaining: 29m 5s
7:	learn: 3188.8005041	total: 1m 12s	remaining: 28m 51s
8:	learn: 2659.5263592	total: 1m 21s	remaining: 28m 40s
9:	learn: 2452.2489478	total: 1m 30s	remaining: 28m 30s
10:	learn: 2207.6678862	total: 1m 38s	remaining: 28m 20s
11:	learn: 2118.3410270	total: 1m 47s	remaining: 28m 9s
12:	learn: 2051.8803996	total: 1m 56s	remaining: 27m 59s
13:	learn: 1965.7683916	total: 2m 5s	remaining: 27m 50s
14:	learn: 1904.6344417	total: 2m 14s	remaining: 27m 40s
15:	learn: 1842.2370241	total: 2m 23s	remaining: 27m 31s
16:	learn: 1825.9514273	total: 2m 32s	remaining: 27m 21s
17:	learn: 1777.6758252	total: 2m 41s	remaining: 27m 11s
18:	learn: 1744.8888877	total: 2m 50s	remaining: 27m 2s
19:	learn: 1693.1296790	total: 2m 59s	remaining: 26m 53s
20:	learn: 1661.1336857	total: 3m 8s	remaining: 26m 43s
21:	learn: 1623.1558572	total: 3m 17s	remaining: 26m 34s
22:	learn: 1594.2310030	total: 3m 25s	remaining: 26m 24s
23:	learn: 1569.1824978	total: 3m 34s	remaining: 26m 15s
24:	learn: 1544.4414939	total: 3m 43s	remaining: 26m 5s
25:	learn: 1522.4586681	total: 3m 52s	remaining: 25m 56s
26:	learn: 1481.5520035	total: 4m 1s	remaining: 25m 47s
27:	learn: 1449.0147127	total: 4m 10s	remaining: 25m 38s
28:	learn: 1426.9904112	total: 4m 19s	remaining: 25m 29s
29:	learn: 1400.0437983	total: 4m 28s	remaining: 25m 20s
30:	learn: 1371.3031631	total: 4m 37s	remaining: 25m 11s
31:	learn: 1352.4962664	total: 4m 46s	remaining: 25m 2s
32:	learn: 1338.4382054	total: 4m 55s	remaining: 24m 53s
33:	learn: 1322.4611668	total: 5m 3s	remaining: 24m 44s
34:	learn: 1301.9704095	total: 5m 12s	remaining: 24m 35s
35:	learn: 1286.4208964	total: 5m 21s	remaining: 24m 25s
36:	learn: 1276.2301142	total: 5m 30s	remaining: 24m 17s
37:	learn: 1263.0020955	total: 5m 39s	remaining: 24m 8s
38:	learn: 1246.6573233	total: 5m 48s	remaining: 23m 59s
39:	learn: 1227.9342586	total: 5m 57s	remaining: 23m 50s
40:	learn: 1215.3916897	total: 6m 6s	remaining: 23m 41s
41:	learn: 1192.2128492	total: 6m 15s	remaining: 23m 32s
42:	learn: 1181.6193740	total: 6m 24s	remaining: 23m 22s
43:	learn: 1166.1010337	total: 6m 33s	remaining: 23m 14s
44:	learn: 1145.9156644	total: 6m 42s	remaining: 23m 4s
45:	learn: 1139.5669763	total: 6m 51s	remaining: 22m 56s
46:	learn: 1127.6457504	total: 6m 59s	remaining: 22m 46s
47:	learn: 1111.7532482	total: 7m 8s	remaining: 22m 37s
48:	learn: 1090.2495504	total: 7m 17s	remaining: 22m 28s
49:	learn: 1082.8411625	total: 7m 26s	remaining: 22m 19s
50:	learn: 1069.0330124	total: 7m 35s	remaining: 22m 11s
51:	learn: 1061.4454249	total: 7m 44s	remaining: 22m 2s
52:	learn: 1052.0575629	total: 7m 53s	remaining: 21m 53s
53:	learn: 1042.3670429	total: 8m 2s	remaining: 21m 44s
54:	learn: 1046.0252701	total: 8m 11s	remaining: 21m 35s
55:	learn: 1029.8243860	total: 8m 20s	remaining: 21m 26s
56:	learn: 1018.3992834	total: 8m 29s	remaining: 21m 17s
57:	learn: 1020.2926359	total: 8m 37s	remaining: 21m 8s
58:	learn: 1011.2967238	total: 8m 46s	remaining: 20m 59s
59:	learn: 998.7880576	total: 8m 55s	remaining: 20m 50s
60:	learn: 992.2854426	total: 9m 4s	remaining: 20m 41s
61:	learn: 978.7173408	total: 9m 13s	remaining: 20m 32s
62:	learn: 974.3584296	total: 9m 22s	remaining: 20m 23s
63:	learn: 975.9308078	total: 9m 31s	remaining: 20m 14s
64:	learn: 969.9154223	total: 9m 40s	remaining: 20m 5s
65:	learn: 963.3049353	total: 9m 49s	remaining: 19m 56s
66:	learn: 959.7946468	total: 9m 58s	remaining: 19m 47s
67:	learn: 954.1636380	total: 10m 7s	remaining: 19m 38s
68:	learn: 949.6147840	total: 10m 16s	remaining: 19m 29s
69:	learn: 941.7834496	total: 10m 25s	remaining: 19m 20s
70:	learn: 946.3178620	total: 10m 34s	remaining: 19m 11s
71:	learn: 933.5030153	total: 10m 42s	remaining: 19m 3s
72:	learn: 927.4540794	total: 10m 51s	remaining: 18m 54s
73:	learn: 921.7178403	total: 11m	remaining: 18m 45s
74:	learn: 914.8885272	total: 11m 9s	remaining: 18m 36s
75:	learn: 911.6300869	total: 11m 18s	remaining: 18m 27s
76:	learn: 903.4319876	total: 11m 27s	remaining: 18m 18s
77:	learn: 900.6679976	total: 11m 36s	remaining: 18m 9s
78:	learn: 895.6884479	total: 11m 45s	remaining: 18m
79:	learn: 890.2538983	total: 11m 54s	remaining: 17m 51s
80:	learn: 885.7584960	total: 12m 3s	remaining: 17m 42s
81:	learn: 892.6964737	total: 12m 12s	remaining: 17m 33s
82:	learn: 899.1448444	total: 12m 21s	remaining: 17m 24s
83:	learn: 886.5084929	total: 12m 30s	remaining: 17m 15s
84:	learn: 876.1163202	total: 12m 39s	remaining: 17m 6s
85:	learn: 868.2093433	total: 12m 47s	remaining: 16m 58s
86:	learn: 860.9371824	total: 12m 56s	remaining: 16m 49s
87:	learn: 859.8091490	total: 13m 5s	remaining: 16m 40s
88:	learn: 854.4427570	total: 13m 14s	remaining: 16m 31s
89:	learn: 852.2541432	total: 13m 23s	remaining: 16m 22s
90:	learn: 846.5542724	total: 13m 32s	remaining: 16m 13s
91:	learn: 838.7528781	total: 13m 41s	remaining: 16m 4s
92:	learn: 837.2495380	total: 13m 50s	remaining: 15m 55s
93:	learn: 832.7864533	total: 13m 59s	remaining: 15m 46s
94:	learn: 831.4439086	total: 14m 8s	remaining: 15m 37s
95:	learn: 829.1848478	total: 14m 17s	remaining: 15m 28s
96:	learn: 826.1476113	total: 14m 26s	remaining: 15m 19s
97:	learn: 824.9331923	total: 14m 35s	remaining: 15m 10s
98:	learn: 818.2954070	total: 14m 44s	remaining: 15m 2s
99:	learn: 816.3080077	total: 14m 53s	remaining: 14m 53s
100:	learn: 809.9822149	total: 15m 2s	remaining: 14m 44s
101:	learn: 804.5880843	total: 15m 10s	remaining: 14m 35s
102:	learn: 799.1675360	total: 15m 19s	remaining: 14m 26s
103:	learn: 795.5994810	total: 15m 28s	remaining: 14m 17s
104:	learn: 794.2526215	total: 15m 37s	remaining: 14m 8s
105:	learn: 793.3693916	total: 15m 46s	remaining: 13m 59s
106:	learn: 789.1982218	total: 15m 55s	remaining: 13m 50s
107:	learn: 788.5885025	total: 16m 4s	remaining: 13m 41s
108:	learn: 787.8105910	total: 16m 13s	remaining: 13m 32s
109:	learn: 783.7302979	total: 16m 22s	remaining: 13m 23s
110:	learn: 782.6876815	total: 16m 31s	remaining: 13m 15s
111:	learn: 781.2163949	total: 16m 40s	remaining: 13m 6s
112:	learn: 780.4223686	total: 16m 49s	remaining: 12m 57s
113:	learn: 778.0964712	total: 16m 58s	remaining: 12m 48s
114:	learn: 778.4789987	total: 17m 7s	remaining: 12m 39s
115:	learn: 781.6895349	total: 17m 16s	remaining: 12m 30s
116:	learn: 777.0395893	total: 17m 25s	remaining: 12m 21s
117:	learn: 766.7951793	total: 17m 34s	remaining: 12m 12s
118:	learn: 766.2107330	total: 17m 43s	remaining: 12m 3s
119:	learn: 768.2115173	total: 17m 52s	remaining: 11m 54s
120:	learn: 766.6345601	total: 18m 1s	remaining: 11m 45s
121:	learn: 762.0724972	total: 18m 9s	remaining: 11m 36s
122:	learn: 759.0333234	total: 18m 18s	remaining: 11m 27s
123:	learn: 757.2871171	total: 18m 27s	remaining: 11m 19s
124:	learn: 753.7456559	total: 18m 36s	remaining: 11m 10s
125:	learn: 751.8792494	total: 18m 45s	remaining: 11m 1s
126:	learn: 751.0441876	total: 18m 54s	remaining: 10m 52s
127:	learn: 749.7049012	total: 19m 3s	remaining: 10m 43s
128:	learn: 748.9420477	total: 19m 12s	remaining: 10m 34s
129:	learn: 747.6651949	total: 19m 21s	remaining: 10m 25s
130:	learn: 748.9952352	total: 19m 30s	remaining: 10m 16s
131:	learn: 746.3308397	total: 19m 39s	remaining: 10m 7s
132:	learn: 747.7837221	total: 19m 48s	remaining: 9m 58s
133:	learn: 745.9153782	total: 19m 57s	remaining: 9m 49s
134:	learn: 747.8817315	total: 20m 6s	remaining: 9m 40s
135:	learn: 743.8153517	total: 20m 15s	remaining: 9m 31s
136:	learn: 744.9411836	total: 20m 24s	remaining: 9m 22s
137:	learn: 742.0131400	total: 20m 33s	remaining: 9m 14s
138:	learn: 740.0479315	total: 20m 42s	remaining: 9m 5s
139:	learn: 736.0700948	total: 20m 51s	remaining: 8m 56s
140:	learn: 739.6374013	total: 21m	remaining: 8m 47s
141:	learn: 734.3050000	total: 21m 9s	remaining: 8m 38s
142:	learn: 733.7705710	total: 21m 18s	remaining: 8m 29s
143:	learn: 731.8289182	total: 21m 26s	remaining: 8m 20s
144:	learn: 731.3302412	total: 21m 35s	remaining: 8m 11s
145:	learn: 731.5204482	total: 21m 44s	remaining: 8m 2s
146:	learn: 726.4641112	total: 21m 53s	remaining: 7m 53s
147:	learn: 725.9905309	total: 22m 2s	remaining: 7m 44s
148:	learn: 721.6067871	total: 22m 11s	remaining: 7m 35s
149:	learn: 721.3992325	total: 22m 20s	remaining: 7m 26s
150:	learn: 721.5113754	total: 22m 29s	remaining: 7m 17s
151:	learn: 718.7265155	total: 22m 38s	remaining: 7m 9s
152:	learn: 718.4033837	total: 22m 47s	remaining: 7m
153:	learn: 721.8880029	total: 22m 56s	remaining: 6m 51s
154:	learn: 714.3741206	total: 23m 5s	remaining: 6m 42s
155:	learn: 714.0335091	total: 23m 14s	remaining: 6m 33s
156:	learn: 712.5361571	total: 23m 23s	remaining: 6m 24s
157:	learn: 710.8983072	total: 23m 32s	remaining: 6m 15s
158:	learn: 709.4159252	total: 23m 41s	remaining: 6m 6s
159:	learn: 711.1312668	total: 23m 50s	remaining: 5m 57s
160:	learn: 707.6863620	total: 23m 59s	remaining: 5m 48s
161:	learn: 710.2180969	total: 24m 8s	remaining: 5m 39s
162:	learn: 705.6505744	total: 24m 17s	remaining: 5m 30s
163:	learn: 702.5715099	total: 24m 26s	remaining: 5m 21s
164:	learn: 704.6179087	total: 24m 35s	remaining: 5m 12s
165:	learn: 707.8613789	total: 24m 44s	remaining: 5m 3s
166:	learn: 703.6340716	total: 24m 53s	remaining: 4m 55s
167:	learn: 700.2782824	total: 25m 2s	remaining: 4m 46s
168:	learn: 697.2197797	total: 25m 11s	remaining: 4m 37s
169:	learn: 692.1463152	total: 25m 19s	remaining: 4m 28s
170:	learn: 696.7714282	total: 25m 28s	remaining: 4m 19s
171:	learn: 690.8080414	total: 25m 37s	remaining: 4m 10s
172:	learn: 687.9979967	total: 25m 46s	remaining: 4m 1s
173:	learn: 688.5234436	total: 25m 55s	remaining: 3m 52s
174:	learn: 687.3709299	total: 26m 4s	remaining: 3m 43s
175:	learn: 691.1730012	total: 26m 13s	remaining: 3m 34s
176:	learn: 685.9049708	total: 26m 22s	remaining: 3m 25s
177:	learn: 688.7323191	total: 26m 31s	remaining: 3m 16s
178:	learn: 694.8041503	total: 26m 40s	remaining: 3m 7s
179:	learn: 691.8828433	total: 26m 49s	remaining: 2m 58s
180:	learn: 689.2957194	total: 26m 58s	remaining: 2m 49s
181:	learn: 684.9727362	total: 27m 7s	remaining: 2m 40s
182:	learn: 683.2247247	total: 27m 16s	remaining: 2m 32s
183:	learn: 679.5128256	total: 27m 25s	remaining: 2m 23s
184:	learn: 674.8287573	total: 27m 34s	remaining: 2m 14s
185:	learn: 672.6016178	total: 27m 43s	remaining: 2m 5s
186:	learn: 672.6138140	total: 27m 52s	remaining: 1m 56s
187:	learn: 671.3658004	total: 28m 1s	remaining: 1m 47s
188:	learn: 674.0429644	total: 28m 10s	remaining: 1m 38s
189:	learn: 670.1819378	total: 28m 19s	remaining: 1m 29s
190:	learn: 669.9835853	total: 28m 28s	remaining: 1m 20s
191:	learn: 672.3045074	total: 28m 37s	remaining: 1m 11s
192:	learn: 668.3278595	total: 28m 46s	remaining: 1m 2s
193:	learn: 666.5563803	total: 28m 55s	remaining: 53.7s
194:	learn: 667.2043611	total: 29m 4s	remaining: 44.7s
195:	learn: 665.8956310	total: 29m 12s	remaining: 35.8s
196:	learn: 665.2151566	total: 29m 21s	remaining: 26.8s
197:	learn: 665.2634568	total: 29m 30s	remaining: 17.9s
198:	learn: 665.8554762	total: 29m 39s	remaining: 8.94s
199:	learn: 670.6967296	total: 29m 48s	remaining: 0us

In [60]:
print(accuracy_score(Y2,preds_class2))

0.572658839522446

In [61]:
data_part3['CODE_CULTU_2019_y'] = preds_class

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [62]:
data_part2_2 = data_part2[data_part2['CODE_CULTU_2019_y'] != 'Unknown']

In [63]:
Y_val = final_data['CODE_CULTU_2019']
Y_pred = final_data['CODE_CULTU_2019_y']

In [64]:
print(accuracy_score(Y_val,Y_pred))

0.8190662619605378

In [ ]:
###Корректировка явных ошибок CatBoost### (Предсказание значения, которое не встречалось в выборке, заменяем на последнее значение в выборке)

In [65]:
data_part3_1 = data_part3.loc[(data_part3['CODE_CULTU_2019_y'] != data_part3['CODE_CULTU_2015']) & (data_part3['CODE_CULTU_2019_y'] != data_part3['CODE_CULTU_2016']) & (data_part3['CODE_CULTU_2019_y'] != data_part3['CODE_CULTU_2017']) & (data_part3['CODE_CULTU_2019_y'] != data_part3['CODE_CULTU_2018']) ]

In [66]:
data_part3_2 = data_part3.loc[(data_part3['CODE_CULTU_2019_y'] == data_part3['CODE_CULTU_2015']) | (data_part3['CODE_CULTU_2019_y'] == data_part3['CODE_CULTU_2016']) | (data_part3['CODE_CULTU_2019_y'] == data_part3['CODE_CULTU_2017']) | (data_part3['CODE_CULTU_2019_y'] == data_part3['CODE_CULTU_2018']) ]

In [67]:
data_part3_1['CODE_CULTU_2019_y'] = data_part3_1['CODE_CULTU_2018']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [68]:
final_data2 = pd.concat([data_part1,data_part2_2,data_part3_1,data_part3_2])

In [69]:
Y_val = final_data2['CODE_CULTU_2019']
Y_pred = final_data2['CODE_CULTU_2019_y']

In [70]:
print(accuracy_score(Y_val,Y_pred))

0.8190662619605378

## TEST Predict ##

In [71]:
test2015 = pd.read_csv('/content/drive/MyDrive/Хакатон/test_2015.csv')

In [72]:
test2016 = pd.read_csv('/content/drive/MyDrive/Хакатон/test_2016.csv')

In [73]:
test2017 = pd.read_csv('/content/drive/MyDrive/Хакатон/test_2017.csv')

In [74]:
test2018 = pd.read_csv('/content/drive/MyDrive/Хакатон/test_2018.csv')

In [75]:
test2015_2018 = pd.merge(test2015, test2016,  how='left', left_on=['centroid'], right_on = ['centroid'])

In [76]:
test2015_2018

       CODE_CULTU_x  CODE_GROUP_x  ... CODE_CULTU_y CODE_GROUP_y
0               PPH            18  ...          PPH           18
1               PPH            18  ...          PPH           18
2               TTH             4  ...          ORH            3
3               PPH            18  ...          PPH           18
4               MIS             2  ...          BTH            1
...             ...           ...  ...          ...          ...
401640          PPH            18  ...          PPH           18
401641          SBO            28  ...          SBO           28
401642          SNE            28  ...          J5M           11
401643          SNE            28  ...          SNE           28
401644          SNE            28  ...          SNE           28

[401645 rows x 5 columns]

In [77]:
test2015_2018.rename(columns = {'CODE_CULTU_x': 'CODE_CULTU_2015', 'CODE_GROUP_x': 'CODE_GROUP_2015', 'CODE_CULTU_y': 'CODE_CULTU_2016', 'CODE_GROUP_y': 'CODE_GROUP_2016'}, inplace = True)

In [78]:
test2015_2018 = pd.merge(test2015_2018, test2017,  how='left', left_on=['centroid'], right_on = ['centroid'])

In [79]:
test2015_2018.rename(columns = {'CODE_CULTU': 'CODE_CULTU_2017', 'CODE_GROUP': 'CODE_GROUP_2017'}, inplace = True)

In [80]:
test2015_2018 = pd.merge(test2015_2018, test2018,  how='left', left_on=['centroid'], right_on = ['centroid'])

In [81]:
test2015_2018.rename(columns = {'CODE_CULTU': 'CODE_CULTU_2018', 'CODE_GROUP': 'CODE_GROUP_2018'}, inplace = True)

In [82]:
test2015_2018.head(2)

  CODE_CULTU_2015  CODE_GROUP_2015  ... CODE_CULTU_2018 CODE_GROUP_2018
0             PPH               18  ...             PPH              18
1             PPH               18  ...             PPH              18

[2 rows x 9 columns]

In [86]:
test2015_2018.head(2)

  CODE_CULTU_2015  CODE_GROUP_2015  ... CODE_CULTU_2018 CODE_GROUP_2018
0             PPH               18  ...             PPH              18
1             PPH               18  ...             PPH              18

[2 rows x 9 columns]

In [87]:
test2015_2018_phz_kg_ff = pd.read_csv('/content/drive/MyDrive/Хакатон/test2015-2018_phz_kg_ff.csv')

In [88]:
test2015_2018_phz_kg_ff

                                        centroid hzs kg_id ff_id
0       Point (837113.21815327 6542642.03294466)  8b   Cfb  ff13
1        Point (859951.6897682 6548701.23025595)  8b   Cfb  ff13
2       Point (869152.69888415 6554341.41204209)  8b   Cfb  ff13
3       Point (843914.62975223 6570993.98124897)  8b   Cfb  ff13
4       Point (842372.94899233 6570245.72791538)  8b   Cfb  ff13
...                                          ...  ..   ...   ...
401490  Point (464629.98946606 6207835.49881565)  6a    ET   ff5
401491   Point (464742.14669457 6210914.3467607)  6a    ET   ff5
401492  Point (467190.57989509 6200166.76301246)  5b    ET   ff5
401493  Point (467425.07238401 6200107.01837806)  5b    ET   ff5
401494   Point (466266.1317302 6202083.68340251)  5b    ET   ff5

[401495 rows x 4 columns]

In [89]:
test2015_2018 = pd.merge(test2015_2018, test2015_2018_phz_kg_ff,  how='left', left_on=['centroid'], right_on = ['centroid'])

In [91]:
test2015_2018.head(2)

  CODE_CULTU_2015  CODE_GROUP_2015  ... kg_id ff_id
0             PPH               18  ...   Cfb  ff13
1             PPH               18  ...   Cfb  ff13

[2 rows x 12 columns]

In [92]:
test2015_2018_rot = pd.read_csv('/content/drive/MyDrive/Хакатон/Хакатонtest.csv')

In [93]:
test2015_2018 = pd.merge(test2015_2018, test2015_2018_rot,  how='left', left_on=['centroid'], right_on = ['centroid'])

In [94]:
test2015_2018.head(2)

  CODE_CULTU_2015  CODE_GROUP_2015  ... RotationLength RotationCount
0             PPH               18  ...              1             4
1             PPH               18  ...              1             4

[2 rows x 18 columns]

In [95]:
g_test = test2015_2018.groupby(['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018']).count()

In [96]:
gm_test = g_test.add_suffix('').reset_index()

In [98]:
gm_test.head(2)

  CODE_CULTU_2015 CODE_CULTU_2016  ... RotationLength RotationCount
0             ACA             PPH  ...              1             1
1             AGR             AGR  ...              5             5

[2 rows x 18 columns]

In [99]:
gm_pred_g2 = gm_pred.drop_duplicates(['CODE_CULTU_2019_y'])

In [100]:
gm_pred_g2.head(2)

  CODE_CULTU_2015 CODE_CULTU_2016  ... CODE_CULTU_2018 CODE_CULTU_2019_y
0             ACA             FLA  ...             FLA               FLA
1             ACA             FLP  ...             FLP               FLP

[2 rows x 5 columns]

In [101]:
gm_test_pred = pd.merge(gm_test, gm_pred,  how='left', left_on=['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018'], right_on = ['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018'])

In [102]:
gm_test_pred = gm_test_pred.reindex(columns=['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018','CODE_CULTU_2019_y'])

In [103]:
gm_test_pred['CODE_CULTU_2019_y'].value_counts()

BTH    683
PTR    444
LUZ    250
MLG    219
MIS    215
      ...
AGR      1
PAG      1
PWT      1
CRD      1
PAT      1
Name: CODE_CULTU_2019_y, Length: 144, dtype: int64

In [104]:
test_pred = pd.merge(test2015_2018, gm_test_pred,  how='left', left_on=['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018'], right_on = ['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018'])

In [105]:
test_pred['CODE_CULTU_2019_y'].value_counts()

BTH    735
PTR    462
LUZ    263
MLG    244
MIS    225
      ...
EST      1
PAT      1
FNO      1
LEF      1
TCR      1
Name: CODE_CULTU_2019_y, Length: 144, dtype: int64

In [106]:
test_part1 = test_pred[test_pred.CODE_CULTU_2019_y.notnull()].copy()

In [107]:
test_part1.head(2)

    CODE_CULTU_2015  CODE_GROUP_2015  ... RotationCount CODE_CULTU_2019_y
290             MLG               16  ...             1               MCR
372             ORH                3  ...             1               LUZ

[2 rows x 19 columns]

In [108]:
test_part2 = test_pred[test_pred.CODE_CULTU_2019_y.isna()].copy()

In [109]:
test_part2['CODE_CULTU_2019_y'] = test_part2.apply(lambda x: predict_next_culture_4_years_list(x['CODE_CULTU_2015'],x['CODE_CULTU_2016'],x['CODE_CULTU_2017'],x['CODE_CULTU_2018']), axis=1, result_type='expand')

In [110]:
test_part2['CODE_CULTU_2019_y'].value_counts()

Unknown    166549
PPH        118597
VRC         19986
J6S         11119
SNE          9443
            ...
RDF             1
FFO             1
TRD             1
CCT             1
SA5             1
Name: CODE_CULTU_2019_y, Length: 145, dtype: int64

In [111]:
test_part3 = test_part2[test_part2['CODE_CULTU_2019_y'] == 'Unknown']

In [112]:
test_part3.head(2)

   CODE_CULTU_2015  CODE_GROUP_2015  ... RotationCount CODE_CULTU_2019_y
2              TTH                4  ...             1           Unknown
14             MIE                2  ...             2           Unknown

[2 rows x 19 columns]

In [113]:
test_part3 = test_part3.add_suffix('').reset_index()

In [114]:
X_test = test_part3[['RotationLength', 'RotationCount',
       'CODE_CULTU_2015', 'CODE_CULTU_2016', 'CODE_CULTU_2017',
       'CODE_CULTU_2018', 'CODE_GROUP_2015',
       'CODE_GROUP_2016', 'CODE_GROUP_2017', 'CODE_GROUP_2018',
       'hzs', 'kg_id', 'ff_id']]


X_test = X_test.replace(np.nan, 'unknown', regex=True)

In [115]:
cat_features_test = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [116]:
test_dataset2 = Pool(data=X_test,
                    cat_features=cat_features_test)


# Get predicted classes
preds_class2 = model2.predict(test_dataset2)
# Get predicted probabilities for each class
#preds_proba2 = model2.predict_proba(eval_dataset2)
# Get predicted RawFormulaVal
#preds_raw2 = model2.predict(eval_dataset2, prediction_type='RawFormulaVal')

In [117]:
test_part3['CODE_CULTU_2019_y'] = preds_class2

In [118]:
test_part2_2 = test_part2[test_part2['CODE_CULTU_2019_y'] != 'Unknown']

In [ ]:
###Корректировка явных ошибок CatBoost### (Предсказание значения, которое не встречалось в выборке, заменяем на последнее значение в выборке)

In [119]:
test_part3_1 = test_part3.loc[(test_part3['CODE_CULTU_2019_y'] != test_part3['CODE_CULTU_2015']) & (test_part3['CODE_CULTU_2019_y'] != test_part3['CODE_CULTU_2016']) & (test_part3['CODE_CULTU_2019_y'] != test_part3['CODE_CULTU_2017']) & (test_part3['CODE_CULTU_2019_y'] != test_part3['CODE_CULTU_2018']) ]

In [120]:
test_part3_2 = test_part3.loc[(test_part3['CODE_CULTU_2019_y'] == test_part3['CODE_CULTU_2015']) | (test_part3['CODE_CULTU_2019_y'] == test_part3['CODE_CULTU_2016']) | (test_part3['CODE_CULTU_2019_y'] == test_part3['CODE_CULTU_2017']) | (test_part3['CODE_CULTU_2019_y'] == test_part3['CODE_CULTU_2018']) ]

In [121]:
test_part3_1['CODE_CULTU_2019_y'] = test_part3_1['CODE_CULTU_2018']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [122]:
final_data_test = pd.concat([test_part1,test_part2_2,test_part3_1,test_part3_2])

In [ ]:
pd.DataFrame(final_data_test[['centroid','CODE_CULTU_2019_y']]).to_csv("/content/drive/MyDrive/Хакатон/predict2019.csv",index=False,header=True)