##Установка и импортирование библиотек##

In [2]:
!pip install catboost

Requirement already satisfied: catboost in /usr/local/lib/python3.7/dist-packages (0.24.4)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)

In [4]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split, KFold
from sklearn.metrics import accuracy_score

import catboost as cb
from catboost import Pool, CatBoostClassifier
from sklearn.model_selection import GridSearchCV

from itertools import product, chain

#Требуется добавить файл paramsearch.py в проект
#from paramsearch import paramsearch

## Загрузка данных ##

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
data = pd.read_csv('/content/drive/MyDrive/Хакатон/dataset2015_2019.csv')

In [ ]:
data.head(2)

   Unnamed: 0  ...                  4 Nearest Neigbour Point
0           0  ...  Point (907563.65755459 6554039.35762193)
1           1  ...   Point (907032.95563938 6550121.6369531)

[2 rows x 25 columns]

## Эвристики для предсказаний данных без модели ##

### Эвристика по закономерностям последовательностей культур на основе анализа *данных* ###

In [7]:
#Функция для предсказания культуры в следующем году на основании культур предыдущих 4 лет
def predict_next_culture_4_years_list(l0, l1, l2, l3):
  if l0 == l1 != l2 and l2 == l3:
     return 'Unknown'
  if l0 == l1 == l2 == l3:
     return l0
  if l0 == l2 and l1 == l3:
     return l0
  if l0 == l1 != l2 and l2 == l3:
     return l0
  return 'Unknown'

In [7]:
print(predict_next_culture_4_years_list(data.iloc[0]['CODE_CULTU_2015'],data.iloc[0]['CODE_CULTU_2016'],data.iloc[0]['CODE_CULTU_2017'],data.iloc[0]['CODE_CULTU_2018']))

PPH

### Эвристика по уникальным последовательностям ###

In [8]:
#Функция для получения списка уникальных последовательностей (после 4 культур предыдущих лет всегда идет одна и та же 5-ая)
def get_unique_chains(data):
  g = data.groupby(['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018'])['CODE_CULTU_2019'].count()
  g = g.add_suffix('').reset_index()
  g_uniq = g[g['CODE_CULTU_2019'] == 1]
  g_pred = pd.merge(g_uniq, data,  how='left', left_on=['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018'], right_on = ['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018'])
  g_pred = g_pred.reindex(columns=['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018','CODE_CULTU_2019_y'])
  g_pred.rename(columns = {'CODE_CULTU_2019_y': 'CODE_CULTU_2019_predict'}, inplace = True)
  return g_pred

In [29]:
#Функция для получения списка уникальных последовательностей для тестовой выборки
def get_unique_chains_test(data):
  g = data.groupby(['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018']).count()
  g = g.add_suffix('').reset_index()
  return g

In [9]:
print(get_unique_chains(data))

      CODE_CULTU_2015 CODE_CULTU_2016  ... CODE_CULTU_2018 CODE_CULTU_2019_predict
0                 ACA             FLA  ...             FLA                     FLA
1                 ACA             FLP  ...             FLP                     FLP
2                 ACA             MIS  ...             SNE                     SNE
3                 ACA             SNE  ...             SNE                     SNE
4                 AGR             BOR  ...             SNE                     SNE
...               ...             ...  ...             ...                     ...
82546             VRT             VRT  ...             SOG                     BTH
82547             XFE             PTR  ...             BTH                     PTR
82548             XFE             PTR  ...             PPH                     PRL
82549             XFE             XFE  ...             PRL                     CZH
82550             XFE             XFE  ...             XFE                     MIE

[82551 rows x 5 columns]

### Предсказания по эвристикам на обучающей выборке ###

In [10]:
g_pred = get_unique_chains(data)

In [11]:
#Получаем предсказания по эвристике по уникальным последовательностям
data_pred = pd.merge(data, g_pred,  how='left', left_on=['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018'], right_on = ['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018'])

In [12]:
print(data_pred['CODE_CULTU_2019_predict'].value_counts().sum())
print(data_pred['CODE_CULTU_2019_predict'].value_counts())

82551
BTH    11247
PTR     8134
LUZ     4978
MLG     4003
MIS     3902
       ...
SFI        1
PIS        1
MRG        1
LFP        1
OEH        1
Name: CODE_CULTU_2019_predict, Length: 218, dtype: int64

In [13]:
#Сохраняем первую часть, предсказанную по эвристике по уникальным последовательностям
data_part1 = data_pred[data_pred.CODE_CULTU_2019_predict.notnull()].copy()

In [14]:
data_part1.head(2)

    Unnamed: 0  ... CODE_CULTU_2019_predict
50          50  ...                     BTH
74          74  ...                     ORP

[2 rows x 26 columns]

In [15]:
#Формируем вторую часть для предсказаний по эверистике по закономерностям последовательностей культур на основе анализа
data_part2 = data_pred[data_pred.CODE_CULTU_2019_predict.isna()].copy()

In [16]:
data_part2.head(2)

   Unnamed: 0  ... CODE_CULTU_2019_predict
0           0  ...                     NaN
1           1  ...                     NaN

[2 rows x 26 columns]

In [17]:
#Получаем предсказания по эвристике по закономерностям последовательностей культур на основе анализа данных
data_part2['CODE_CULTU_2019_predict'] = data_part2.apply(lambda x: predict_next_culture_4_years_list(x['CODE_CULTU_2015'],x['CODE_CULTU_2016'],x['CODE_CULTU_2017'],x['CODE_CULTU_2018']), axis=1, result_type='expand')

In [18]:
print(data_part2[data_part2['CODE_CULTU_2019_predict'] != 'Unknown']['CODE_CULTU_2019_predict'].value_counts().sum())
print(data_part2[data_part2['CODE_CULTU_2019_predict'] != 'Unknown']['CODE_CULTU_2019_predict'].value_counts())

2078679
PPH    1067851
VRC     181807
J6S     100032
SNE      85849
PRL      79558
        ...
LDP          2
CHR          2
PAN          2
EST          2
BAS          2
Name: CODE_CULTU_2019_predict, Length: 159, dtype: int64

In [28]:
#Формирование выборки для оценки точности
data_eval = data_part2[data_part2['CODE_CULTU_2019_predict'] != 'Unknown']

In [29]:
print(accuracy_score(data_eval['CODE_CULTU_2019'],data_eval['CODE_CULTU_2019_predict']))

0.9479198086861896

In [19]:
# Формирование набора данных, по которому не удалось предсказать значения с помощью эвристик ###
data_part3 = data_part2[data_part2['CODE_CULTU_2019_predict'] == 'Unknown']

In [20]:
#Формирование набора данных с предсказанными по эвристикам значениями
data_part2 = data_part2[data_part2['CODE_CULTU_2019_predict'] != 'Unknown']

## Моделирование ##

### Train/Val CatBoost###

In [34]:
#Признаки и целевая переменная для модели
"""
Полный список колонок в датасете:
'RotationLength', 'RotationCount',
'CODE_CULTU_2015', 'CODE_CULTU_2016', 'CODE_CULTU_2017',
'CODE_CULTU_2018', 'CODE_CULTU_2019', 'CODE_GROUP_2015',
'CODE_GROUP_2016', 'CODE_GROUP_2017', 'CODE_GROUP_2018',
'CODE_GROUP_2019', 'cultuCode', 'groupCode', 'hzs', 'kg_id', 'ff_id'
"""

X = data_part3[['RotationLength', 'RotationCount',
       'CODE_CULTU_2015', 'CODE_CULTU_2016', 'CODE_CULTU_2017',
       'CODE_CULTU_2018', 'CODE_GROUP_2015',
       'CODE_GROUP_2016', 'CODE_GROUP_2017', 'CODE_GROUP_2018',
       'cultuCode', 'groupCode', 'hzs', 'kg_id', 'ff_id']]

X = X.replace(np.nan, 'unknown', regex=True)

Y = data_part3['CODE_CULTU_2019']

In [35]:
X.shape

(1453574, 15)

In [40]:
X.isnull().sum(axis = 0)

RotationLength     0
RotationCount      0
CODE_CULTU_2015    0
CODE_CULTU_2016    0
CODE_CULTU_2017    0
CODE_CULTU_2018    0
CODE_GROUP_2015    0
CODE_GROUP_2016    0
CODE_GROUP_2017    0
CODE_GROUP_2018    0
cultuCode          0
groupCode          0
hzs                0
kg_id              0
ff_id              0
dtype: int64

In [36]:
#Разделение выборок на обучающую и валидационную
X_train, X_val, Y_train, Y_val = train_test_split(X, Y, test_size=0.2, random_state=286)

In [37]:
X.head(2)

    RotationLength  RotationCount CODE_CULTU_2015  ... hzs kg_id ff_id
12               3              1             TTH  ...  8b   Cfb  ff13
18               3              1             ORH  ...  8b   Cfb  ff13

[2 rows x 15 columns]

In [41]:
#Список категориальных переменных для модели
cat_features = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [43]:
train_dataset = Pool(data=X_train,
                     label=Y_train,
                     cat_features=cat_features)

eval_dataset = Pool(data=X_val,
                    label=Y_val,
                    cat_features=cat_features)

model = CatBoostClassifier(iterations=100,
                           depth=4,
                           loss_function='MultiClass',  task_type='GPU')

#Обучение модели
model.fit(train_dataset)  
#Получение предсказаний
preds_class = model.predict(eval_dataset)

Learning rate set to 0.5
0:	learn: 13.9392325	total: 6.8s	remaining: 11m 13s
1:	learn: 2140.9016226	total: 14.1s	remaining: 11m 33s
2:	learn: 5977.3909373	total: 21s	remaining: 11m 18s
3:	learn: 6921.1041820	total: 27.8s	remaining: 11m 7s
4:	learn: 7777.9509158	total: 34.6s	remaining: 10m 57s
5:	learn: 7458.7808152	total: 41.4s	remaining: 10m 49s
6:	learn: 6919.1519178	total: 48.3s	remaining: 10m 41s
7:	learn: 6588.2061505	total: 55.1s	remaining: 10m 33s
8:	learn: 5837.8916653	total: 1m 1s	remaining: 10m 25s
9:	learn: 5566.6449398	total: 1m 8s	remaining: 10m 18s
10:	learn: 5262.7257475	total: 1m 15s	remaining: 10m 11s
11:	learn: 4851.5522243	total: 1m 22s	remaining: 10m 4s
12:	learn: 4746.1885164	total: 1m 29s	remaining: 9m 57s
13:	learn: 4646.1735017	total: 1m 36s	remaining: 9m 49s
14:	learn: 4494.6247000	total: 1m 42s	remaining: 9m 42s
15:	learn: 4378.0731181	total: 1m 49s	remaining: 9m 35s
16:	learn: 4098.0297560	total: 1m 56s	remaining: 9m 28s
17:	learn: 3951.0203868	total: 2m 3s	remaining: 9m 21s
18:	learn: 3716.8160473	total: 2m 10s	remaining: 9m 14s
19:	learn: 3514.5799241	total: 2m 16s	remaining: 9m 7s
20:	learn: 3338.7304084	total: 2m 23s	remaining: 9m 1s
21:	learn: 3215.4969227	total: 2m 30s	remaining: 8m 54s
22:	learn: 3046.3202847	total: 2m 37s	remaining: 8m 47s
23:	learn: 2921.2906191	total: 2m 44s	remaining: 8m 40s
24:	learn: 2837.0022505	total: 2m 51s	remaining: 8m 33s
25:	learn: 2775.2871019	total: 2m 57s	remaining: 8m 26s
26:	learn: 2743.6013343	total: 3m 4s	remaining: 8m 19s
27:	learn: 2706.8107965	total: 3m 11s	remaining: 8m 12s
28:	learn: 2614.1579400	total: 3m 18s	remaining: 8m 5s
29:	learn: 2573.8787316	total: 3m 25s	remaining: 7m 58s
30:	learn: 2509.2922048	total: 3m 32s	remaining: 7m 51s
31:	learn: 2464.3119759	total: 3m 38s	remaining: 7m 45s
32:	learn: 2414.9858237	total: 3m 45s	remaining: 7m 38s
33:	learn: 2375.2728336	total: 3m 52s	remaining: 7m 31s
34:	learn: 2327.9297662	total: 3m 59s	remaining: 7m 24s
35:	learn: 2303.9183254	total: 4m 6s	remaining: 7m 17s
36:	learn: 2250.2885182	total: 4m 12s	remaining: 7m 10s
37:	learn: 2208.7817698	total: 4m 19s	remaining: 7m 3s
38:	learn: 2171.0115775	total: 4m 26s	remaining: 6m 57s
39:	learn: 2124.5129943	total: 4m 33s	remaining: 6m 50s
40:	learn: 2074.4918378	total: 4m 40s	remaining: 6m 43s
41:	learn: 2043.2573717	total: 4m 47s	remaining: 6m 36s
42:	learn: 1999.8943432	total: 4m 53s	remaining: 6m 29s
43:	learn: 1977.0426372	total: 5m	remaining: 6m 22s
44:	learn: 1943.2097752	total: 5m 7s	remaining: 6m 15s
45:	learn: 1920.6810250	total: 5m 14s	remaining: 6m 9s
46:	learn: 1895.8178352	total: 5m 21s	remaining: 6m 2s
47:	learn: 1853.2004448	total: 5m 28s	remaining: 5m 55s
48:	learn: 1824.5107687	total: 5m 34s	remaining: 5m 48s
49:	learn: 1794.5424785	total: 5m 41s	remaining: 5m 41s
50:	learn: 1775.6689401	total: 5m 48s	remaining: 5m 34s
51:	learn: 1749.1804045	total: 5m 55s	remaining: 5m 28s
52:	learn: 1718.8756195	total: 6m 2s	remaining: 5m 21s
53:	learn: 1690.6040027	total: 6m 9s	remaining: 5m 14s
54:	learn: 1669.4202410	total: 6m 15s	remaining: 5m 7s
55:	learn: 1655.8084377	total: 6m 22s	remaining: 5m
56:	learn: 1634.2050756	total: 6m 29s	remaining: 4m 53s
57:	learn: 1620.3318476	total: 6m 36s	remaining: 4m 46s
58:	learn: 1607.7199523	total: 6m 43s	remaining: 4m 40s
59:	learn: 1583.4904559	total: 6m 49s	remaining: 4m 33s
60:	learn: 1564.9582555	total: 6m 56s	remaining: 4m 26s
61:	learn: 1553.9602583	total: 7m 3s	remaining: 4m 19s
62:	learn: 1517.5790840	total: 7m 10s	remaining: 4m 12s
63:	learn: 1499.4829949	total: 7m 17s	remaining: 4m 5s
64:	learn: 1485.1595662	total: 7m 24s	remaining: 3m 59s
65:	learn: 1473.0447630	total: 7m 30s	remaining: 3m 52s
66:	learn: 1451.4736524	total: 7m 37s	remaining: 3m 45s
67:	learn: 1429.4623579	total: 7m 44s	remaining: 3m 38s
68:	learn: 1417.5114541	total: 7m 51s	remaining: 3m 31s
69:	learn: 1408.7978130	total: 7m 58s	remaining: 3m 24s
70:	learn: 1396.1913112	total: 8m 5s	remaining: 3m 18s
71:	learn: 1387.3303917	total: 8m 11s	remaining: 3m 11s
72:	learn: 1377.6726499	total: 8m 18s	remaining: 3m 4s
73:	learn: 1367.3485229	total: 8m 25s	remaining: 2m 57s
74:	learn: 1352.2773647	total: 8m 32s	remaining: 2m 50s
75:	learn: 1338.4103008	total: 8m 39s	remaining: 2m 43s
76:	learn: 1327.5013531	total: 8m 45s	remaining: 2m 37s
77:	learn: 1313.1381879	total: 8m 52s	remaining: 2m 30s
78:	learn: 1298.6877343	total: 8m 59s	remaining: 2m 23s
79:	learn: 1285.1758777	total: 9m 6s	remaining: 2m 16s
80:	learn: 1274.4996255	total: 9m 13s	remaining: 2m 9s
81:	learn: 1263.7499542	total: 9m 20s	remaining: 2m 2s
82:	learn: 1253.7616616	total: 9m 26s	remaining: 1m 56s
83:	learn: 1241.9552843	total: 9m 33s	remaining: 1m 49s
84:	learn: 1228.6537783	total: 9m 40s	remaining: 1m 42s
85:	learn: 1221.2473705	total: 9m 47s	remaining: 1m 35s
86:	learn: 1205.7405412	total: 9m 54s	remaining: 1m 28s
87:	learn: 1198.2174554	total: 10m 1s	remaining: 1m 21s
88:	learn: 1192.3997389	total: 10m 7s	remaining: 1m 15s
89:	learn: 1183.4486692	total: 10m 14s	remaining: 1m 8s
90:	learn: 1171.4056339	total: 10m 21s	remaining: 1m 1s
91:	learn: 1166.3030651	total: 10m 28s	remaining: 54.6s
92:	learn: 1156.2386016	total: 10m 35s	remaining: 47.8s
93:	learn: 1149.2248261	total: 10m 42s	remaining: 41s
94:	learn: 1138.7642079	total: 10m 48s	remaining: 34.2s
95:	learn: 1131.2765658	total: 10m 55s	remaining: 27.3s
96:	learn: 1116.8138940	total: 11m 2s	remaining: 20.5s
97:	learn: 1110.9429019	total: 11m 9s	remaining: 13.7s
98:	learn: 1106.5685797	total: 11m 16s	remaining: 6.83s
99:	learn: 1099.9028567	total: 11m 23s	remaining: 0us

In [44]:
print(accuracy_score(Y_val,preds_class))

0.6135080749187348

In [45]:
#Предсказание по всей выборке без разделения на обучающую и валидационную
eval_dataset = Pool(data=X,
                    label=Y,
                    cat_features=cat_features)

preds_class = model.predict(eval_dataset)

In [46]:
#Оценка точности
print(accuracy_score(Y,preds_class))

0.6139625502382403

In [47]:
#Добавление предсказаний от модели
data_part3['CODE_CULTU_2019_predict'] = preds_class

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [49]:
final_data = pd.concat([data_part1,data_part2,data_part3])

In [50]:
print(accuracy_score(final_data['CODE_CULTU_2019'],final_data['CODE_CULTU_2019_predict']))

0.8148192820412946

Корректировка явных ошибок CatBoost (Предсказание значения, которое не встречалось в выборке, заменяем на последнее значение в выборке)

In [52]:
data_part3_1 = data_part3.loc[(data_part3['CODE_CULTU_2019_predict'] != data_part3['CODE_CULTU_2015']) & (data_part3['CODE_CULTU_2019_predict'] != data_part3['CODE_CULTU_2016']) & (data_part3['CODE_CULTU_2019_predict'] != data_part3['CODE_CULTU_2017']) & (data_part3['CODE_CULTU_2019_predict'] != data_part3['CODE_CULTU_2018']) ]

In [53]:
data_part3_2 = data_part3.loc[(data_part3['CODE_CULTU_2019_predict'] == data_part3['CODE_CULTU_2015']) | (data_part3['CODE_CULTU_2019_predict'] == data_part3['CODE_CULTU_2016']) | (data_part3['CODE_CULTU_2019_predict'] == data_part3['CODE_CULTU_2017']) | (data_part3['CODE_CULTU_2019_predict'] == data_part3['CODE_CULTU_2018']) ]

In [54]:
data_part3_1['CODE_CULTU_2019_predict'] = data_part3_1['CODE_CULTU_2018']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [55]:
#Объединение данных
final_data = pd.concat([data_part1,data_part2,data_part3_1,data_part3_2])

In [56]:
#Оценка точности
print(accuracy_score(final_data['CODE_CULTU_2019'],final_data['CODE_CULTU_2019_predict']))

0.8190662619605378

###Full CatBoost###

In [21]:
X_full = data_part3[['RotationLength', 'RotationCount',
       'CODE_CULTU_2015', 'CODE_CULTU_2016', 'CODE_CULTU_2017',
       'CODE_CULTU_2018', 'CODE_GROUP_2015',
       'CODE_GROUP_2016', 'CODE_GROUP_2017', 'CODE_GROUP_2018',
       'hzs', 'kg_id', 'ff_id']]

X_full = X_full.replace(np.nan, 'unknown', regex=True)

Y_full = data_part3['CODE_CULTU_2019']

In [22]:
cat_features_full = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
train_dataset_full = Pool(data=X_full,
                     label=Y_full,
                     cat_features=cat_features_full)

eval_dataset_full = Pool(data=X_full,
                    label=Y_full,
                    cat_features=cat_features_full)

model_full = CatBoostClassifier(iterations=200,
                           #learning_rate=0.25,
                           depth=6,
                           loss_function='MultiClass',  task_type='GPU')

#Обучение модели
model_full.fit(train_dataset_full)  
#Получение предсказаний
preds_class_full = model_full.predict(eval_dataset_full)

In [25]:
print(accuracy_score(Y_full,preds_class_full))

0.572658839522446

### Full CatBoost GridSearch ###

In [76]:
def crossvaltest(params,train_set,train_label,cat_dims,n_splits=3):
    kf = KFold(n_splits=n_splits,shuffle=True) 
    res = []
    for train_index, test_index in kf.split(train_set):
        train = train_set.iloc[train_index,:]
        test = train_set.iloc[test_index,:]

        #labels = train_label.ix[train_index]
        #test_labels = train_label.ix[test_index]

        labels = train_label.iloc[train_index]
        test_labels = train_label.iloc[test_index]

        clf = cb.CatBoostClassifier(**params)
        clf.fit(train, np.ravel(labels), cat_features=cat_dims)

        res.append(np.mean(clf.predict(test)==np.ravel(test_labels)))
    return np.mean(res)

In [92]:
def catboost_param_tune(params,train_set,train_label,cat_dims=None,n_splits=3):
    ps = paramsearch(params)
    # search 'border_count', 'l2_leaf_reg' etc. individually 
    #   but 'iterations','learning_rate' together
    for prms in chain(#ps.grid_search(['border_count']),
                      #ps.grid_search(['ctr_border_count']),
                      ps.grid_search(['l2_leaf_reg']),
                      ps.grid_search(['iterations','learning_rate']),
                      ps.grid_search(['depth'])):
        res = crossvaltest(prms,train_set,train_label,cat_dims,n_splits)
        # save the crossvalidation result so that future iterations can reuse the best parameters
        ps.register_result(res,prms)
        print(res,prms,'best:',ps.bestscore(),ps.bestparam())
    return ps.bestparam()

In [91]:
"""
params = {'depth':[1,2,3,4,5,6,7],
          'iterations':[100,200,500,1000],
          'learning_rate':[0.001,0.01,0.1,0.2,0.3],
          'l2_leaf_reg':[1,3,5,10,100],
          'border_count':[5,10,20,50,100,200],
          'thread_count':4}
"""

"""
params = {'depth':[1,2,3,4,5,6,7],
          'iterations':[100,200,500,1000],
          'learning_rate':[0.001,0.01,0.1,0.2,0.3],
          'l2_leaf_reg':[1,3,5,10,100],
          'border_count':[5,10,20,50,100,200],
          'loss_function':['MultiClass'],
          'task_type':['GPU']}
"""

params = {'depth':[4,5,6,7,8,9,10],
          'iterations':[100,200,500,1000],
          'learning_rate':[0.001,0.01,0.1,0.2,0.3],
          'l2_leaf_reg':[1,3,5,10,100],
          'loss_function':['MultiClass'],
          'task_type':['GPU']}

In [ ]:
bestparams = catboost_param_tune(params,X_full,Y_full,cat_features_full)
print(bestparams)

0:	learn: 5.2785685	total: 5.36s	remaining: 8m 50s
1:	learn: 5.2437297	total: 10.7s	remaining: 8m 43s
2:	learn: 5.2151785	total: 16s	remaining: 8m 38s
3:	learn: 5.1913918	total: 21.3s	remaining: 8m 32s
4:	learn: 5.1497602	total: 26.7s	remaining: 8m 26s
5:	learn: 5.1206069	total: 32s	remaining: 8m 21s
6:	learn: 5.0966148	total: 37.3s	remaining: 8m 15s
7:	learn: 5.0752588	total: 42.7s	remaining: 8m 10s
8:	learn: 5.0624323	total: 48s	remaining: 8m 5s
9:	learn: 5.0499959	total: 53.3s	remaining: 7m 59s
10:	learn: 5.0378608	total: 58.6s	remaining: 7m 54s
11:	learn: 4.9999613	total: 1m 3s	remaining: 7m 49s
12:	learn: 4.9647035	total: 1m 9s	remaining: 7m 43s
13:	learn: 4.9316227	total: 1m 14s	remaining: 7m 38s
14:	learn: 4.9004653	total: 1m 19s	remaining: 7m 33s
15:	learn: 4.8709487	total: 1m 25s	remaining: 7m 27s
16:	learn: 4.8429027	total: 1m 30s	remaining: 7m 22s
17:	learn: 4.8161693	total: 1m 35s	remaining: 7m 17s
18:	learn: 4.7906159	total: 1m 41s	remaining: 7m 11s
19:	learn: 4.7661377	total: 1m 46s	remaining: 7m 6s
20:	learn: 4.7426317	total: 1m 51s	remaining: 7m 1s
21:	learn: 4.7200013	total: 1m 57s	remaining: 6m 55s
22:	learn: 4.6981680	total: 2m 2s	remaining: 6m 50s
23:	learn: 4.6771066	total: 2m 7s	remaining: 6m 45s
24:	learn: 4.6567284	total: 2m 13s	remaining: 6m 39s
25:	learn: 4.6370018	total: 2m 18s	remaining: 6m 34s
26:	learn: 4.6179853	total: 2m 23s	remaining: 6m 29s
27:	learn: 4.5993938	total: 2m 29s	remaining: 6m 23s
28:	learn: 4.5813401	total: 2m 34s	remaining: 6m 18s
29:	learn: 4.5637692	total: 2m 39s	remaining: 6m 13s
30:	learn: 4.5466602	total: 2m 45s	remaining: 6m 7s
31:	learn: 4.5300036	total: 2m 50s	remaining: 6m 2s
32:	learn: 4.5137537	total: 2m 55s	remaining: 5m 57s
33:	learn: 4.4978840	total: 3m 1s	remaining: 5m 51s
34:	learn: 4.4824075	total: 3m 6s	remaining: 5m 46s
35:	learn: 4.4672720	total: 3m 11s	remaining: 5m 41s
36:	learn: 4.4524745	total: 3m 17s	remaining: 5m 35s
37:	learn: 4.4380083	total: 3m 22s	remaining: 5m 30s
38:	learn: 4.4238439	total: 3m 27s	remaining: 5m 25s
39:	learn: 4.4099746	total: 3m 33s	remaining: 5m 19s
40:	learn: 4.3963633	total: 3m 38s	remaining: 5m 14s
41:	learn: 4.3830410	total: 3m 43s	remaining: 5m 9s
42:	learn: 4.3699668	total: 3m 49s	remaining: 5m 3s
43:	learn: 4.3571414	total: 3m 54s	remaining: 4m 58s
44:	learn: 4.3445239	total: 3m 59s	remaining: 4m 53s
45:	learn: 4.3321365	total: 4m 5s	remaining: 4m 47s
46:	learn: 4.3199851	total: 4m 10s	remaining: 4m 42s
47:	learn: 4.3080360	total: 4m 15s	remaining: 4m 37s
48:	learn: 4.2962858	total: 4m 21s	remaining: 4m 31s
49:	learn: 4.2847330	total: 4m 26s	remaining: 4m 26s
50:	learn: 4.2733742	total: 4m 31s	remaining: 4m 21s
51:	learn: 4.2615118	total: 4m 37s	remaining: 4m 15s
52:	learn: 4.2505033	total: 4m 42s	remaining: 4m 10s
53:	learn: 4.2396649	total: 4m 47s	remaining: 4m 5s
54:	learn: 4.2289964	total: 4m 53s	remaining: 3m 59s
55:	learn: 4.2184859	total: 4m 58s	remaining: 3m 54s
56:	learn: 4.2080950	total: 5m 3s	remaining: 3m 49s
57:	learn: 4.1978865	total: 5m 9s	remaining: 3m 43s
58:	learn: 4.1878238	total: 5m 14s	remaining: 3m 38s
59:	learn: 4.1778692	total: 5m 19s	remaining: 3m 33s
60:	learn: 4.1680937	total: 5m 25s	remaining: 3m 27s
61:	learn: 4.1584437	total: 5m 30s	remaining: 3m 22s
62:	learn: 4.1489195	total: 5m 35s	remaining: 3m 17s
63:	learn: 4.1394958	total: 5m 41s	remaining: 3m 11s
64:	learn: 4.1301952	total: 5m 46s	remaining: 3m 6s
65:	learn: 4.1210101	total: 5m 51s	remaining: 3m 1s
66:	learn: 4.1119497	total: 5m 57s	remaining: 2m 55s
67:	learn: 4.1030020	total: 6m 2s	remaining: 2m 50s
68:	learn: 4.0941849	total: 6m 7s	remaining: 2m 45s
69:	learn: 4.0854658	total: 6m 13s	remaining: 2m 39s
70:	learn: 4.0768475	total: 6m 18s	remaining: 2m 34s
71:	learn: 4.0677004	total: 6m 23s	remaining: 2m 29s
72:	learn: 4.0592857	total: 6m 29s	remaining: 2m 23s
73:	learn: 4.0509799	total: 6m 34s	remaining: 2m 18s
74:	learn: 4.0427509	total: 6m 39s	remaining: 2m 13s
75:	learn: 4.0346303	total: 6m 45s	remaining: 2m 7s
76:	learn: 4.0265887	total: 6m 50s	remaining: 2m 2s
77:	learn: 4.0180324	total: 6m 55s	remaining: 1m 57s
78:	learn: 4.0095872	total: 7m 1s	remaining: 1m 51s
79:	learn: 4.0017909	total: 7m 6s	remaining: 1m 46s
80:	learn: 3.9940767	total: 7m 11s	remaining: 1m 41s
81:	learn: 3.9864532	total: 7m 17s	remaining: 1m 35s
82:	learn: 3.9789193	total: 7m 22s	remaining: 1m 30s
83:	learn: 3.9714550	total: 7m 27s	remaining: 1m 25s
84:	learn: 3.9640681	total: 7m 33s	remaining: 1m 19s
85:	learn: 3.9567579	total: 7m 38s	remaining: 1m 14s
86:	learn: 3.9495206	total: 7m 43s	remaining: 1m 9s
87:	learn: 3.9423584	total: 7m 49s	remaining: 1m 3s
88:	learn: 3.9352595	total: 7m 54s	remaining: 58.6s
89:	learn: 3.9276734	total: 7m 59s	remaining: 53.3s
90:	learn: 3.9201800	total: 8m 5s	remaining: 48s
91:	learn: 3.9132890	total: 8m 10s	remaining: 42.6s
92:	learn: 3.9059315	total: 8m 15s	remaining: 37.3s
93:	learn: 3.8991700	total: 8m 21s	remaining: 32s
94:	learn: 3.8924598	total: 8m 26s	remaining: 26.7s
95:	learn: 3.8858154	total: 8m 31s	remaining: 21.3s
96:	learn: 3.8792460	total: 8m 37s	remaining: 16s
97:	learn: 3.8727183	total: 8m 42s	remaining: 10.7s
98:	learn: 3.8662472	total: 8m 47s	remaining: 5.33s
99:	learn: 3.8598435	total: 8m 53s	remaining: 0us

## Предсказания по тестовой выборке ##

In [26]:
test2015_2018 = pd.read_csv('/content/drive/MyDrive/Хакатон/testdataset2015-2018.csv')

In [27]:
test2015_2018.head(2)

  CODE_CULTU_2018  CODE_GROUP_2018  ... kg_id ff_id
0             J6S               11  ...   Cfb  ff13
1             PTR               19  ...   Cfb  ff13

[2 rows x 16 columns]

In [30]:
g_test_pred = get_unique_chains_test(test2015_2018)

In [31]:
#Получает предсказания для тестовой выборки из уникальных последовательностей обучающей выборки
g_test_pred = pd.merge(g_test_pred, g_pred,  how='left', left_on=['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018'], right_on = ['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018'])

In [33]:
g_test_pred = g_test_pred.reindex(columns=['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018','CODE_CULTU_2019_predict'])

In [34]:
print(g_test_pred['CODE_CULTU_2019_predict'].value_counts().sum())
print(g_test_pred['CODE_CULTU_2019_predict'].value_counts())

4254
BTH    683
PTR    444
LUZ    250
MLG    219
MIS    215
      ...
RUT      1
AGR      1
CHT      1
LEF      1
PFP      1
Name: CODE_CULTU_2019_predict, Length: 144, dtype: int64

In [35]:
#Получаем предсказания по эвристике по уникальным последовательностям для тестовой выборки
test_pred = pd.merge(test2015_2018, g_test_pred,  how='left', left_on=['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018'], right_on = ['CODE_CULTU_2015','CODE_CULTU_2016','CODE_CULTU_2017','CODE_CULTU_2018'])

In [37]:
print(test_pred['CODE_CULTU_2019_predict'].value_counts().sum())
print(test_pred['CODE_CULTU_2019_predict'].value_counts())

4554
BTH    735
PTR    462
LUZ    263
MLG    244
ORH    225
      ...
CSS      1
LDP      1
CCT      1
PAT      1
LEF      1
Name: CODE_CULTU_2019_predict, Length: 144, dtype: int64

In [41]:
#Сохраняем первую часть, предсказанную по эвристике по уникальным последовательностям
test_part1 = test_pred[test_pred.CODE_CULTU_2019_predict.notnull()].copy()

In [42]:
test_part1.head(2)

    CODE_CULTU_2018  CODE_GROUP_2018  ... ff_id CODE_CULTU_2019_predict
97              ORP                3  ...  ff12                     BTH
287             MIE                2  ...  ff12                     MIE

[2 rows x 17 columns]

In [53]:
#Формируем вторую часть для предсказаний по эверистике по закономерностям последовательностей культур на основе анализа
test_part2 = test_pred[test_pred.CODE_CULTU_2019_predict.isna()].copy()

In [54]:
#Получаем предсказания по эвристике по закономерностям последовательностей культур на основе анализа данных
test_part2['CODE_CULTU_2019_predict'] = test_part2.apply(lambda x: predict_next_culture_4_years_list(x['CODE_CULTU_2015'],x['CODE_CULTU_2016'],x['CODE_CULTU_2017'],x['CODE_CULTU_2018']), axis=1, result_type='expand')

In [45]:
print(test_part2['CODE_CULTU_2019_predict'].value_counts().sum())
print(test_part2['CODE_CULTU_2019_predict'].value_counts())

397091
Unknown    166549
PPH        118597
VRC         19986
J6S         11119
SNE          9443
            ...
FNO             1
CMM             1
TTP             1
PAN             1
PAG             1
Name: CODE_CULTU_2019_predict, Length: 145, dtype: int64

In [56]:
#Формирование набора данных, по которому не удалось предсказать значения с помощью эвристик ###
test_part3 = test_part2[test_part2['CODE_CULTU_2019_predict'] == 'Unknown']
test_part3 = test_part3.add_suffix('').reset_index()

In [57]:
#Формирование набора данных с предсказанными по эвристикам значениями
test_part2 = test_part2[test_part2['CODE_CULTU_2019_predict'] != 'Unknown']

In [58]:
#Признаки для модели для тестовой выборки
X_test = test_part3[['RotationLength', 'RotationCount',
       'CODE_CULTU_2015', 'CODE_CULTU_2016', 'CODE_CULTU_2017',
       'CODE_CULTU_2018', 'CODE_GROUP_2015',
       'CODE_GROUP_2016', 'CODE_GROUP_2017', 'CODE_GROUP_2018',
       'hzs', 'kg_id', 'ff_id']]

X_test = X_test.replace(np.nan, 'unknown', regex=True)

cat_features_test = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [60]:
#Получение предсказаний
test_dataset = Pool(data=X_test,
                    cat_features=cat_features_test)

preds_class_test = model_full.predict(test_dataset)

In [61]:
test_part3['CODE_CULTU_2019_predict'] = preds_class_test

Корректировка явных ошибок CatBoost (Предсказание значения, которое не встречалось в выборке, заменяем на последнее значение в выборке)

In [62]:
test_part3_1 = test_part3.loc[(test_part3['CODE_CULTU_2019_predict'] != test_part3['CODE_CULTU_2015']) & (test_part3['CODE_CULTU_2019_predict'] != test_part3['CODE_CULTU_2016']) & (test_part3['CODE_CULTU_2019_predict'] != test_part3['CODE_CULTU_2017']) & (test_part3['CODE_CULTU_2019_predict'] != test_part3['CODE_CULTU_2018']) ]

In [63]:
test_part3_2 = test_part3.loc[(test_part3['CODE_CULTU_2019_predict'] == test_part3['CODE_CULTU_2015']) | (test_part3['CODE_CULTU_2019_predict'] == test_part3['CODE_CULTU_2016']) | (test_part3['CODE_CULTU_2019_predict'] == test_part3['CODE_CULTU_2017']) | (test_part3['CODE_CULTU_2019_predict'] == test_part3['CODE_CULTU_2018']) ]

In [64]:
test_part3_1['CODE_CULTU_2019_predict'] = test_part3_1['CODE_CULTU_2018']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [67]:
#Объединение данных
final_data_test = pd.concat([test_part1,test_part2,test_part3])
final_data_test = final_data_test[['centroid','CODE_CULTU_2019_predict']]
final_data_test.rename(columns = {'CODE_CULTU_2019_predict': 'CODE_CULTU_2019'}, inplace = True)

In [ ]:
#Формирование файла ответов
pd.DataFrame(final_data_test[['centroid','CODE_CULTU_2019']]).to_csv("/content/drive/MyDrive/Хакатон/predict2019.csv",index=False,header=True)