In [1]:
import pandas as pd

In [2]:
df2019 = pd.read_csv('./data/test 2020/test_2019.csv')
df2019

   CODE_CULTU  CODE_GROUP                                  centroid
0         BTH           1  Point (625771.91344838 7090455.27713006)
1         ORP           3   Point (628059.94205405 7090942.4387415)
2         BTH           1   Point (623112.8850607 7091321.76633075)
3         BTH           1  Point (645709.52436221 7099158.66801243)
4         BTH           1   Point (627605.22448927 7090230.8672196)
5         BTH           1   Point (627421.63137083 7089348.4473994)
6         BTA          28  Point (623254.31047299 7089357.24703729)
7         BTA          28  Point (623199.71512481 7090404.68029447)
8         FAG          16   Point (661319.3639508 7103304.33968212)
9         GFP          16  Point (660045.57035071 7103508.26063688)
10        PPH          18   Point (632520.96052772 7100339.0240513)
11        GFP          16    Point (665214.065978 7101594.32914311)
12        PTC          25  Point (623252.64686805 7090535.58894731)
13        LIF           9  Point (627349.45762877 7091918.43382546)
14        LIF           9   Point (639624.96807493 7094914.7012086)
15        J6S          11  Point (660112.10267566 7103917.32070282)
16        PTC          25   Point (631011.98206993 7099882.1045089)
17        PTC          25  Point (627135.06775911 7089790.96960391)
18        BTN          24  Point (627689.91124397 7091226.72048758)
19        LIF           9     Point (639989.14607017 7094028.20936)
20        BTA          28  Point (626890.49225881 7091695.38129481)
21        BTA          28  Point (626681.19483355 7090558.39818072)
22        BTA          28  Point (626971.98061619 7089562.84166516)
23        BTA          28  Point (622967.31151578 7089473.09554707)
24        BTA          28  Point (627999.77810715 7090809.02630479)
25        BTA          28  Point (626872.73034846 7089630.58123009)
26        BTA          28  Point (622928.74456392 7091374.91109849)

In [3]:
df2019.rename(columns={'CODE_CULTU':'CODE_CULTU_2019', 'CODE_GROUP': 'CODE_GROUP_2019'}, inplace=True)

In [4]:
df2018 = pd.read_csv('./data/test 2020/test_2018.csv')
df2018

   CODE_CULTU  CODE_GROUP                                  centroid
0         BTN          24   Point (627605.22448927 7090230.8672196)
1         BTN          24   Point (627421.63137083 7089348.4473994)
2         BTH           1   Point (628059.94205405 7090942.4387415)
3         GFP          16  Point (660045.57035071 7103508.26063688)
4         J6S          11  Point (660112.10267566 7103917.32070282)
5         FAG          16  Point (645709.52436221 7099158.66801243)
6         BTH           1  Point (627135.06775911 7089790.96960391)
7         BTH           1  Point (627689.91124397 7091226.72048758)
8         BTH           1  Point (627349.45762877 7091918.43382546)
9         GFP          16    Point (665214.065978 7101594.32914311)
10        PPH          18   Point (632520.96052772 7100339.0240513)
11        PTC          25  Point (625771.91344838 7090455.27713006)
12        BTH           1  Point (623252.64686805 7090535.58894731)
13        BTH           1   Point (639624.96807493 7094914.7012086)
14        BTH           1     Point (639989.14607017 7094028.20936)
15        LIF           9   Point (623112.8850607 7091321.76633075)
16        FAG          16   Point (661319.3639508 7103304.33968212)
17        BTH           1   Point (631011.98206993 7099882.1045089)
18        BTA          28  Point (623254.31047299 7089357.24703729)
19        BTA          28  Point (626681.19483355 7090558.39818072)
20        BTA          28  Point (627999.77810715 7090809.02630479)
21        BTA          28  Point (626890.49225881 7091695.38129481)
22        BTA          28  Point (622967.31151578 7089473.09554707)
23        BTA          28  Point (626872.73034846 7089630.58123009)
24        BTA          28  Point (626971.98061619 7089562.84166516)
25        BTA          28  Point (623199.71512481 7090404.68029447)
26        BTA          28  Point (622928.74456392 7091374.91109849)

In [5]:
df2018.rename(columns={'CODE_CULTU':'CODE_CULTU_2018', 'CODE_GROUP': 'CODE_GROUP_2018'}, inplace=True)

In [6]:
df = df2019.merge(df2018, on='centroid')
del df2019
del df2018
df

,CODE_CULTU_2019,CODE_GROUP_2019,centroid,CODE_CULTU_2018,CODE_GROUP_2018
0,BTH,1,Point (625771.91344838 7090455.27713006),PTC,25
1,ORP,3,Point (628059.94205405 7090942.4387415),BTH,1
2,BTH,1,Point (623112.8850607 7091321.76633075),LIF,9
3,BTH,1,Point (645709.52436221 7099158.66801243),FAG,16
4,BTH,1,Point (627605.22448927 7090230.8672196),BTN,24
5,BTH,1,Point (627421.63137083 7089348.4473994),BTN,24
6,BTA,28,Point (623254.31047299 7089357.24703729),BTA,28
7,BTA,28,Point (623199.71512481 7090404.68029447),BTA,28
8,FAG,16,Point (661319.3639508 7103304.33968212),FAG,16
9,GFP,16,Point (660045.57035071 7103508.26063688),GFP,16
10,PPH,18,Point (632520.96052772 7100339.0240513),PPH,18
11,GFP,16,Point (665214.065978 7101594.32914311),GFP,16
12,PTC,25,Point (623252.64686805 7090535.58894731),BTH,1
13,LIF,9,Point (627349.45762877 7091918.43382546),BTH,1
14,LIF,9,Point (639624.96807493 7094914.7012086),BTH,1
15,J6S,11,Point (660112.10267566 7103917.32070282),J6S,11
16,PTC,25,Point (631011.98206993 7099882.1045089),BTH,1
17,PTC,25,Point (627135.06775911 7089790.96960391),BTH,1
18,BTN,24,Point (627689.91124397 7091226.72048758),BTH,1
19,LIF,9,Point (639989.14607017 7094028.20936),BTH,1
20,BTA,28,Point (626890.49225881 7091695.38129481),BTA,28
21,BTA,28,Point (626681.19483355 7090558.39818072),BTA,28
22,BTA,28,Point (626971.98061619 7089562.84166516),BTA,28
23,BTA,28,Point (622967.31151578 7089473.09554707),BTA,28
24,BTA,28,Point (627999.77810715 7090809.02630479),BTA,28
25,BTA,28,Point (626872.73034846 7089630.58123009),BTA,28
26,BTA,28,Point (622928.74456392 7091374.91109849),BTA,28

In [7]:
df2017 = pd.read_csv('./data/test 2020/test_2017.csv')
df2017.rename(columns={'CODE_CULTU':'CODE_CULTU_2017', 'CODE_GROUP': 'CODE_GROUP_2017'}, inplace=True)
df2017

   CODE_CULTU_2017  CODE_GROUP_2017                                  centroid
0              BTH                1   Point (627605.22448927 7090230.8672196)
1              LIF                9  Point (627135.06775911 7089790.96960391)
2              BTA               28  Point (626971.98061619 7089562.84166516)
3              BTA               28  Point (626872.73034846 7089630.58123009)
4              BTH                1  Point (625771.91344838 7090455.27713006)
5              PPH               18   Point (632520.96052772 7100339.0240513)
6              CZH                5  Point (645709.52436221 7099158.66801243)
7              BTH                1   Point (627421.63137083 7089348.4473994)
8              PTC               25  Point (627689.91124397 7091226.72048758)
9              BTA               28  Point (626681.19483355 7090558.39818072)
10             BTA               28  Point (627999.77810715 7090809.02630479)
11             BTA               28  Point (623199.71512481 7090404.68029447)
12             CZH                5  Point (623252.64686805 7090535.58894731)
13             CZH                5   Point (628059.94205405 7090942.4387415)
14             BTA               28  Point (622967.31151578 7089473.09554707)
15             BTA               28  Point (623254.31047299 7089357.24703729)
16             BTA               28  Point (622928.74456392 7091374.91109849)
17             CZH                5  Point (627349.45762877 7091918.43382546)
18             BTH                1   Point (639624.96807493 7094914.7012086)
19             BTN               24     Point (639989.14607017 7094028.20936)
20             GFP               16  Point (660045.57035071 7103508.26063688)
21             FAG               16    Point (665214.065978 7101594.32914311)
22             BTH                1   Point (623112.8850607 7091321.76633075)
23             J6S               11  Point (660112.10267566 7103917.32070282)
24             FAG               16   Point (661319.3639508 7103304.33968212)
25             BTA               28  Point (626890.49225881 7091695.38129481)
26             BTN               24   Point (631011.98206993 7099882.1045089)

In [8]:
df = df.merge(df2017, on='centroid')
del df2017
df

,CODE_CULTU_2019,CODE_GROUP_2019,centroid,CODE_CULTU_2018,CODE_GROUP_2018,CODE_CULTU_2017,CODE_GROUP_2017
0,BTH,1,Point (625771.91344838 7090455.27713006),PTC,25,BTH,1
1,ORP,3,Point (628059.94205405 7090942.4387415),BTH,1,CZH,5
2,BTH,1,Point (623112.8850607 7091321.76633075),LIF,9,BTH,1
3,BTH,1,Point (645709.52436221 7099158.66801243),FAG,16,CZH,5
4,BTH,1,Point (627605.22448927 7090230.8672196),BTN,24,BTH,1
5,BTH,1,Point (627421.63137083 7089348.4473994),BTN,24,BTH,1
6,BTA,28,Point (623254.31047299 7089357.24703729),BTA,28,BTA,28
7,BTA,28,Point (623199.71512481 7090404.68029447),BTA,28,BTA,28
8,FAG,16,Point (661319.3639508 7103304.33968212),FAG,16,FAG,16
9,GFP,16,Point (660045.57035071 7103508.26063688),GFP,16,GFP,16
10,PPH,18,Point (632520.96052772 7100339.0240513),PPH,18,PPH,18
11,GFP,16,Point (665214.065978 7101594.32914311),GFP,16,FAG,16
12,PTC,25,Point (623252.64686805 7090535.58894731),BTH,1,CZH,5
13,LIF,9,Point (627349.45762877 7091918.43382546),BTH,1,CZH,5
14,LIF,9,Point (639624.96807493 7094914.7012086),BTH,1,BTH,1
15,J6S,11,Point (660112.10267566 7103917.32070282),J6S,11,J6S,11
16,PTC,25,Point (631011.98206993 7099882.1045089),BTH,1,BTN,24
17,PTC,25,Point (627135.06775911 7089790.96960391),BTH,1,LIF,9
18,BTN,24,Point (627689.91124397 7091226.72048758),BTH,1,PTC,25
19,LIF,9,Point (639989.14607017 7094028.20936),BTH,1,BTN,24
20,BTA,28,Point (626890.49225881 7091695.38129481),BTA,28,BTA,28
21,BTA,28,Point (626681.19483355 7090558.39818072),BTA,28,BTA,28
22,BTA,28,Point (626971.98061619 7089562.84166516),BTA,28,BTA,28
23,BTA,28,Point (622967.31151578 7089473.09554707),BTA,28,BTA,28
24,BTA,28,Point (627999.77810715 7090809.02630479),BTA,28,BTA,28
25,BTA,28,Point (626872.73034846 7089630.58123009),BTA,28,BTA,28
26,BTA,28,Point (622928.74456392 7091374.91109849),BTA,28,BTA,28

In [9]:
df2016 = pd.read_csv('./data/test 2020/test_2016.csv')
df2016.rename(columns={'CODE_CULTU':'CODE_CULTU_2016', 'CODE_GROUP': 'CODE_GROUP_2016'}, inplace=True)
df2016

   CODE_CULTU_2016  CODE_GROUP_2016                                  centroid
0              PTC               25   Point (627605.22448927 7090230.8672196)
1              J6S               11  Point (660112.10267566 7103917.32070282)
2              BTH                1     Point (639989.14607017 7094028.20936)
3              BTH                1  Point (627689.91124397 7091226.72048758)
4              PTC               25   Point (623112.8850607 7091321.76633075)
5              PPH               18   Point (632520.96052772 7100339.0240513)
6              BTH                1   Point (639624.96807493 7094914.7012086)
7              AVP                4  Point (623252.64686805 7090535.58894731)
8              BTH                1  Point (627349.45762877 7091918.43382546)
9              FAG               16    Point (665214.065978 7101594.32914311)
10             BTN               24  Point (625771.91344838 7090455.27713006)
11             BTH                1  Point (627135.06775911 7089790.96960391)
12             BTH                1   Point (631011.98206993 7099882.1045089)
13             PTC               25   Point (627421.63137083 7089348.4473994)
14             FAG               16   Point (661319.3639508 7103304.33968212)
15             BTH                1   Point (628059.94205405 7090942.4387415)
16             BTH                1  Point (645709.52436221 7099158.66801243)
17             GFP               16  Point (660045.57035071 7103508.26063688)
18             BTA               28  Point (627999.77810715 7090809.02630479)
19             BTA               28  Point (623254.31047299 7089357.24703729)
20             BTA               28  Point (626681.19483355 7090558.39818072)
21             BTA               28  Point (622928.74456392 7091374.91109849)
22             BTA               28  Point (626971.98061619 7089562.84166516)
23             BTA               28  Point (622967.31151578 7089473.09554707)
24             BTA               28  Point (626890.49225881 7091695.38129481)
25             BTA               28  Point (626872.73034846 7089630.58123009)
26             BTA               28  Point (623199.71512481 7090404.68029447)

In [10]:
df = df.merge(df2016, on='centroid')
del df2016
df

,CODE_CULTU_2019,CODE_GROUP_2019,centroid,CODE_CULTU_2018,CODE_GROUP_2018,CODE_CULTU_2017,CODE_GROUP_2017,CODE_CULTU_2016,CODE_GROUP_2016
0,BTH,1,Point (625771.91344838 7090455.27713006),PTC,25,BTH,1,BTN,24
1,ORP,3,Point (628059.94205405 7090942.4387415),BTH,1,CZH,5,BTH,1
2,BTH,1,Point (623112.8850607 7091321.76633075),LIF,9,BTH,1,PTC,25
3,BTH,1,Point (645709.52436221 7099158.66801243),FAG,16,CZH,5,BTH,1
4,BTH,1,Point (627605.22448927 7090230.8672196),BTN,24,BTH,1,PTC,25
5,BTH,1,Point (627421.63137083 7089348.4473994),BTN,24,BTH,1,PTC,25
6,BTA,28,Point (623254.31047299 7089357.24703729),BTA,28,BTA,28,BTA,28
7,BTA,28,Point (623199.71512481 7090404.68029447),BTA,28,BTA,28,BTA,28
8,FAG,16,Point (661319.3639508 7103304.33968212),FAG,16,FAG,16,FAG,16
9,GFP,16,Point (660045.57035071 7103508.26063688),GFP,16,GFP,16,GFP,16
10,PPH,18,Point (632520.96052772 7100339.0240513),PPH,18,PPH,18,PPH,18
11,GFP,16,Point (665214.065978 7101594.32914311),GFP,16,FAG,16,FAG,16
12,PTC,25,Point (623252.64686805 7090535.58894731),BTH,1,CZH,5,AVP,4
13,LIF,9,Point (627349.45762877 7091918.43382546),BTH,1,CZH,5,BTH,1
14,LIF,9,Point (639624.96807493 7094914.7012086),BTH,1,BTH,1,BTH,1
15,J6S,11,Point (660112.10267566 7103917.32070282),J6S,11,J6S,11,J6S,11
16,PTC,25,Point (631011.98206993 7099882.1045089),BTH,1,BTN,24,BTH,1
17,PTC,25,Point (627135.06775911 7089790.96960391),BTH,1,LIF,9,BTH,1
18,BTN,24,Point (627689.91124397 7091226.72048758),BTH,1,PTC,25,BTH,1
19,LIF,9,Point (639989.14607017 7094028.20936),BTH,1,BTN,24,BTH,1
20,BTA,28,Point (626890.49225881 7091695.38129481),BTA,28,BTA,28,BTA,28
21,BTA,28,Point (626681.19483355 7090558.39818072),BTA,28,BTA,28,BTA,28
22,BTA,28,Point (626971.98061619 7089562.84166516),BTA,28,BTA,28,BTA,28
23,BTA,28,Point (622967.31151578 7089473.09554707),BTA,28,BTA,28,BTA,28
24,BTA,28,Point (627999.77810715 7090809.02630479),BTA,28,BTA,28,BTA,28
25,BTA,28,Point (626872.73034846 7089630.58123009),BTA,28,BTA,28,BTA,28
26,BTA,28,Point (622928.74456392 7091374.91109849),BTA,28,BTA,28,BTA,28

In [11]:
df2015 = pd.read_csv('./data/test 2020/test_2015.csv')
df2015.rename(columns={'CODE_CULTU':'CODE_CULTU_2015', 'CODE_GROUP': 'CODE_GROUP_2015'}, inplace=True)
df2015

   CODE_CULTU_2015  CODE_GROUP_2015                                  centroid
0              FAG               16  Point (645709.52436221 7099158.66801243)
1              PRL               18   Point (632520.96052772 7100339.0240513)
2              PTC               25   Point (631011.98206993 7099882.1045089)
3              BTH                1   Point (623112.8850607 7091321.76633075)
4              BTH                1   Point (627605.22448927 7090230.8672196)
5              PTC               25  Point (627135.06775911 7089790.96960391)
6              LIF                9  Point (627689.91124397 7091226.72048758)
7              FAG               16  Point (660045.57035071 7103508.26063688)
8              FAG               16   Point (661319.3639508 7103304.33968212)
9              FAG               16    Point (665214.065978 7101594.32914311)
10             CZH                5     Point (639989.14607017 7094028.20936)
11             BTH                1  Point (623252.64686805 7090535.58894731)
12             BTH                1   Point (627421.63137083 7089348.4473994)
13             CZH                5   Point (639624.96807493 7094914.7012086)
14             BTH                1  Point (625771.91344838 7090455.27713006)
15             ORP                3   Point (628059.94205405 7090942.4387415)
16             J6S               11  Point (660112.10267566 7103917.32070282)
17             BTN               24  Point (627349.45762877 7091918.43382546)
18             BTA               28  Point (623254.31047299 7089357.24703729)
19             BTA               28  Point (626872.73034846 7089630.58123009)
20             BTA               28  Point (623199.71512481 7090404.68029447)
21             BTA               28  Point (627999.77810715 7090809.02630479)
22             BTA               28  Point (626971.98061619 7089562.84166516)
23             BTA               28  Point (622928.74456392 7091374.91109849)
24             BTA               28  Point (626890.49225881 7091695.38129481)
25             BTA               28  Point (622967.31151578 7089473.09554707)
26             BTA               28  Point (626681.19483355 7090558.39818072)

In [12]:
df = df.merge(df2015, on='centroid')
del df2015
df

,CODE_CULTU_2019,CODE_GROUP_2019,centroid,CODE_CULTU_2018,CODE_GROUP_2018,CODE_CULTU_2017,CODE_GROUP_2017,CODE_CULTU_2016,CODE_GROUP_2016,CODE_CULTU_2015,CODE_GROUP_2015
0,BTH,1,Point (625771.91344838 7090455.27713006),PTC,25,BTH,1,BTN,24,BTH,1
1,ORP,3,Point (628059.94205405 7090942.4387415),BTH,1,CZH,5,BTH,1,ORP,3
2,BTH,1,Point (623112.8850607 7091321.76633075),LIF,9,BTH,1,PTC,25,BTH,1
3,BTH,1,Point (645709.52436221 7099158.66801243),FAG,16,CZH,5,BTH,1,FAG,16
4,BTH,1,Point (627605.22448927 7090230.8672196),BTN,24,BTH,1,PTC,25,BTH,1
5,BTH,1,Point (627421.63137083 7089348.4473994),BTN,24,BTH,1,PTC,25,BTH,1
6,BTA,28,Point (623254.31047299 7089357.24703729),BTA,28,BTA,28,BTA,28,BTA,28
7,BTA,28,Point (623199.71512481 7090404.68029447),BTA,28,BTA,28,BTA,28,BTA,28
8,FAG,16,Point (661319.3639508 7103304.33968212),FAG,16,FAG,16,FAG,16,FAG,16
9,GFP,16,Point (660045.57035071 7103508.26063688),GFP,16,GFP,16,GFP,16,FAG,16
10,PPH,18,Point (632520.96052772 7100339.0240513),PPH,18,PPH,18,PPH,18,PRL,18
11,GFP,16,Point (665214.065978 7101594.32914311),GFP,16,FAG,16,FAG,16,FAG,16
12,PTC,25,Point (623252.64686805 7090535.58894731),BTH,1,CZH,5,AVP,4,BTH,1
13,LIF,9,Point (627349.45762877 7091918.43382546),BTH,1,CZH,5,BTH,1,BTN,24
14,LIF,9,Point (639624.96807493 7094914.7012086),BTH,1,BTH,1,BTH,1,CZH,5
15,J6S,11,Point (660112.10267566 7103917.32070282),J6S,11,J6S,11,J6S,11,J6S,11
16,PTC,25,Point (631011.98206993 7099882.1045089),BTH,1,BTN,24,BTH,1,PTC,25
17,PTC,25,Point (627135.06775911 7089790.96960391),BTH,1,LIF,9,BTH,1,PTC,25
18,BTN,24,Point (627689.91124397 7091226.72048758),BTH,1,PTC,25,BTH,1,LIF,9
19,LIF,9,Point (639989.14607017 7094028.20936),BTH,1,BTN,24,BTH,1,CZH,5
20,BTA,28,Point (626890.49225881 7091695.38129481),BTA,28,BTA,28,BTA,28,BTA,28
21,BTA,28,Point (626681.19483355 7090558.39818072),BTA,28,BTA,28,BTA,28,BTA,28
22,BTA,28,Point (626971.98061619 7089562.84166516),BTA,28,BTA,28,BTA,28,BTA,28
23,BTA,28,Point (622967.31151578 7089473.09554707),BTA,28,BTA,28,BTA,28,BTA,28
24,BTA,28,Point (627999.77810715 7090809.02630479),BTA,28,BTA,28,BTA,28,BTA,28
25,BTA,28,Point (626872.73034846 7089630.58123009),BTA,28,BTA,28,BTA,28,BTA,28
26,BTA,28,Point (622928.74456392 7091374.91109849),BTA,28,BTA,28,BTA,28,BTA,28

In [15]:
df.to_csv('./data/test2015-2019.csv', index=False)

In [14]:
df

,CODE_CULTU_2019,CODE_GROUP_2019,centroid,CODE_CULTU_2018,CODE_GROUP_2018,CODE_CULTU_2017,CODE_GROUP_2017,CODE_CULTU_2016,CODE_GROUP_2016,CODE_CULTU_2015,CODE_GROUP_2015
0,BTH,1,Point (625771.91344838 7090455.27713006),PTC,25,BTH,1,BTN,24,BTH,1
1,ORP,3,Point (628059.94205405 7090942.4387415),BTH,1,CZH,5,BTH,1,ORP,3
2,BTH,1,Point (623112.8850607 7091321.76633075),LIF,9,BTH,1,PTC,25,BTH,1
3,BTH,1,Point (645709.52436221 7099158.66801243),FAG,16,CZH,5,BTH,1,FAG,16
4,BTH,1,Point (627605.22448927 7090230.8672196),BTN,24,BTH,1,PTC,25,BTH,1
5,BTH,1,Point (627421.63137083 7089348.4473994),BTN,24,BTH,1,PTC,25,BTH,1
6,BTA,28,Point (623254.31047299 7089357.24703729),BTA,28,BTA,28,BTA,28,BTA,28
7,BTA,28,Point (623199.71512481 7090404.68029447),BTA,28,BTA,28,BTA,28,BTA,28
8,FAG,16,Point (661319.3639508 7103304.33968212),FAG,16,FAG,16,FAG,16,FAG,16
9,GFP,16,Point (660045.57035071 7103508.26063688),GFP,16,GFP,16,GFP,16,FAG,16
10,PPH,18,Point (632520.96052772 7100339.0240513),PPH,18,PPH,18,PPH,18,PRL,18
11,GFP,16,Point (665214.065978 7101594.32914311),GFP,16,FAG,16,FAG,16,FAG,16
12,PTC,25,Point (623252.64686805 7090535.58894731),BTH,1,CZH,5,AVP,4,BTH,1
13,LIF,9,Point (627349.45762877 7091918.43382546),BTH,1,CZH,5,BTH,1,BTN,24
14,LIF,9,Point (639624.96807493 7094914.7012086),BTH,1,BTH,1,BTH,1,CZH,5
15,J6S,11,Point (660112.10267566 7103917.32070282),J6S,11,J6S,11,J6S,11,J6S,11
16,PTC,25,Point (631011.98206993 7099882.1045089),BTH,1,BTN,24,BTH,1,PTC,25
17,PTC,25,Point (627135.06775911 7089790.96960391),BTH,1,LIF,9,BTH,1,PTC,25
18,BTN,24,Point (627689.91124397 7091226.72048758),BTH,1,PTC,25,BTH,1,LIF,9
19,LIF,9,Point (639989.14607017 7094028.20936),BTH,1,BTN,24,BTH,1,CZH,5
20,BTA,28,Point (626890.49225881 7091695.38129481),BTA,28,BTA,28,BTA,28,BTA,28
21,BTA,28,Point (626681.19483355 7090558.39818072),BTA,28,BTA,28,BTA,28,BTA,28
22,BTA,28,Point (626971.98061619 7089562.84166516),BTA,28,BTA,28,BTA,28,BTA,28
23,BTA,28,Point (622967.31151578 7089473.09554707),BTA,28,BTA,28,BTA,28,BTA,28
24,BTA,28,Point (627999.77810715 7090809.02630479),BTA,28,BTA,28,BTA,28,BTA,28
25,BTA,28,Point (626872.73034846 7089630.58123009),BTA,28,BTA,28,BTA,28,BTA,28
26,BTA,28,Point (622928.74456392 7091374.91109849),BTA,28,BTA,28,BTA,28,BTA,28